
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 147.1rem;
}.desktop-1-Rc9 {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #220327 -0%, #24105b 0.01%, #000014 23.32%, #07021d 39.85%, rgba(71, 12, 80, 0.897562921) 42.77%, rgba(30, 17, 31, 0.4424022436) 55.76%, rgba(107, 107, 137, 0.2110388726) 78.9%, rgba(55, 27, 134, 0.4699999988) 100%);

  .auto-group-xbpz-eE1 {
    height: 78.2rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 0.2rem;
    width: 145.9rem;

    .header-image-tXf {
      width: 145.9rem;
      height: 75.1rem;
      display: flex;
      align-items: center;
      background-image: url('REPLACE_IMAGE:70364d9777c85c70e1bf893c44734288391d186a');
      background-repeat: no-repeat;
      background-position: center;
      box-sizing: border-box;
      padding: 7rem 10.3rem 4.469rem 3.5rem;
      position: absolute;
      left: 0;
      top: 3.1rem;
      background-size: 100% 100%;

      .auto-group-helm-vz9 {
        width: 68.5rem;
        height: 45.8rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 17.8309rem;

        .rectangle-2-4Kf {
          background-color: rgba(200, 157, 157, 0.2399999946);
          width: 68.4rem;
          height: 45.8rem;
          position: absolute;
          left: 0.1rem;
          top: 0;
        }
        .transforming-visions-into-digital-success-with--9M7 {
          width: 56.1rem;
          height: 8.4rem;
          top: 19.9rem;
          font-size: 2.6rem;
          position: absolute;
          left: 1.9rem;
          font-weight: 700;
          line-height: 1.265;
          font-family: Overpass Mono, 'Source Sans Pro';

          .transforming-visions-into-digital-success-with--9M7-sub-0 {
          }
          .transforming-visions-into-digital-success-with--9M7-sub-1 {
            line-height: 1.265;
            font-family: Overpass Mono, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 700;
          }
          .transforming-visions-into-digital-success-with--9M7-sub-2 {
          }
        }
        .sanskar-goyal-cXX {
          font-weight: 700;
          font-family: Overpass Mono, 'Source Sans Pro';
          top: 9.8rem;
          font-size: 6rem;
          line-height: 1.265;
          color: #97a0f6;
          width: 48.1rem;
          height: 7.6rem;
          position: absolute;
          left: 10.5rem;
          white-space: nowrap;
        }
        .animatedtext-6xV {
          cursor: pointer;
          position: absolute;
          left: 26.7rem;
          top: 25.2rem;
          width: 2.5rem;
          height: 4.2rem;

          .component-1-1pZ {
            width: 2.3648rem;
            height: 100%;
            border-right: solid 0.05rem #97a1f7;
            margin-right: 0.1352rem;
            box-sizing: border-box;
            padding-top: 0rem;

            .mask-group-Hfb {
              width: 2.0192rem;
              height: 4.2rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .screenshot-79-1-bAV {
          background-image: url('REPLACE_IMAGE:a717956a0efff89886e9929c8c55efe4e9e388bf');
          width: 68.4rem;
          height: 3.9rem;
          position: relative;
          left: 0.1rem;
          top: 41.6rem;
          background-size: 119.477% 1213.483%;
          background-position: -13.3225rem -43.4258rem;
        }
        .im-qad {
          white-space: nowrap;
          width: 7.6rem;
          position: absolute;
          left: 2rem;
          font-size: 4.1rem;
          color: #da6976;
          height: 5.2rem;
          top: 5.6rem;
          font-weight: 700;
          line-height: 1.265;
          font-family: Overpass Mono, 'Source Sans Pro';
        }
        .line-5-jg1 {
          background-color: rgba(235, 76, 76, 0.25);
          width: 68.2rem;
          height: 0.1rem;
          position: absolute;
          left: 0;
          top: 2.5rem;
        }
        .ellipse-2-3Au {
          width: 1.4rem;
          height: 1.3rem;
          position: absolute;
          left: 0.5rem;
          top: 0.7rem;
          object-fit: contain;
          vertical-align: top;
        }
        .ellipse-3-aAq {
          position: absolute;
          left: 2.5rem;
          top: 0.7rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.5rem;
          height: 1.3rem;
        }
        .ellipse-4-i29 {
          object-fit: contain;
          vertical-align: top;
          width: 1.4rem;
          height: 1.3rem;
          position: absolute;
          left: 4.6rem;
          top: 0.7rem;
        }
      }
      .auto-group-fqch-STw {
        flex-shrink: 0;
        margin-top: 0.1rem;
        width: 63.6rem;
        height: 63.5309rem;
        position: relative;

        .ellipse-1-NsP {
          object-fit: contain;
          vertical-align: top;
          width: 36.2rem;
          height: 8.1059rem;
          position: absolute;
          left: 27.4rem;
          top: 55.425rem;
        }
        .e5a182e-5698-405d-a393-041c4551e56b-removebg-preview-1-ucR {
          position: relative;
          top: 27.7rem;
          background-size: 394.902% 170.678%;
          width: 19rem;
          height: 33.2rem;
          left: 37.5rem;
          background-position: -33.7529rem -15.1088rem;
          background-image: url('REPLACE_IMAGE:76561fcdaba33e29a5af5ee0ebd6d202646ff02c');
          border-radius: 5.4rem;
        }
        .rectangle-20-Zgy {
          vertical-align: top;
          width: 38.75rem;
          height: 45.6rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
        }
      }
    }
    .portfolio-header-gFo {
      width: 144.6rem;
      height: 3.15rem;
      position: absolute;
      left: 0;
      top: 0;

      .rectangle-1-QBo {
        width: 144.6rem;
        height: 3.1rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(253, 245, 254, 0.5799999833);
      }
      .group-1-99P {
        left: 118.6rem;
        top: 0.2rem;
        width: 24.9264rem;
        height: 2.95rem;
        position: absolute;

        .rectangle-21-533 {
          position: absolute;
          left: 0;
          top: 0;
          background-color: #8df94c;
          width: 24.9264rem;
          height: 2.7rem;
        }
        .schedule-a-meeting-RMo {
          top: 0.45rem;
          font-size: 1.9rem;
          left: 0.5982rem;
          height: 2.5rem;
          position: absolute;
          font-weight: 700;
          line-height: 1.265;
          color: #000000;
          font-family: Overpass Mono, 'Source Sans Pro';
          white-space: nowrap;
          width: 21.1rem;
        }
      }
      .ellipse-6-KCH {
        vertical-align: top;
        width: 2.6rem;
        height: 2.5rem;
        position: absolute;
        left: 2.6rem;
        top: 0.3rem;
        object-fit: contain;
      }
      .sanskar-goyal-Rm7 {
        left: 6rem;
        top: 0.7rem;
        font-size: 1.4rem;
        height: 1.8rem;
        position: absolute;
        line-height: 1.265;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        width: 11.3rem;
        font-weight: 700;
      }
      .contact-jG1 {
        width: 6.9rem;
        position: absolute;
        left: 109.1rem;
        top: 0.6rem;
        font-size: 1.6rem;
        height: 2.1rem;
        font-weight: 700;
        line-height: 1.265;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
      }
      .certificates-e85 {
        white-space: nowrap;
        cursor: pointer;
        position: absolute;
        font-size: 1.6rem;
        color: #ffffff;
        font-weight: 700;
        line-height: 1.265;
        font-family: Overpass Mono, 'Source Sans Pro';
        width: 10.9rem;
        height: 2.1rem;
        left: 95.7rem;
        top: 0.6rem;
      }
      .project-YjF {
        position: absolute;
        top: 0.6rem;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.265;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        width: 6.9rem;
        height: 2.1rem;
        cursor: pointer;
        left: 87.1rem;
        white-space: nowrap;
      }
      .skills-4Sh {
        cursor: pointer;
        font-family: Overpass Mono, 'Source Sans Pro';
        height: 2.1rem;
        position: absolute;
        left: 79.6rem;
        top: 0.6rem;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.265;
        color: #ffffff;
        width: 6rem;
        white-space: nowrap;
      }
    }
  }
  .auto-group-f2rb-xny {
    background: linear-gradient(180deg, #010116 -0%, #07021c 24.15%, #2c0935 27.28%, #261429 51.7%, #030218 55.92%, #07021c 94.58%);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.5rem 6rem 9rem 3.4rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-c9eu-gys {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 0rem 9.4rem 0.5rem;
      width: 137.2rem;
      height: 96.5rem;

      .skills-csX {
        width: 135.5rem;
        height: 96.5rem;
        position: absolute;
        left: 0;
        top: 0;

        .expertise-mVX {
          width: 124.3rem;
          height: 58.6rem;
          position: absolute;
          left: 0;
          top: 0;

          .auto-group-xqdx-ubj {
            margin-bottom: 7.428rem;
            width: 100%;
            display: flex;
            align-items: flex-start;

            .auto-group-6nnz-SLm {
              margin: 7.3rem 14.928rem 0rem 0rem;
              width: 75.4722rem;
              height: 36.072rem;
              position: relative;
              flex-shrink: 0;

              .ellipse-5-ZgH {
                width: 74.6405rem;
                height: 12.9763rem;
                position: absolute;
                left: 0.8297rem;
                top: 23.0957rem;
                object-fit: contain;
                vertical-align: top;
              }
              .component-2-h1o {
                flex-direction: column;
                padding-bottom: 7.4645rem;
                width: 75.4722rem;
                height: 29.5645rem;
                cursor: pointer;
                left: 0;
                display: flex;
                box-sizing: border-box;
                position: absolute;
                top: 0;
                overflow: hidden;
                align-items: flex-end;

                .rectangle-7-Cz9 {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 70.7rem;
                  width: 23.9rem;
                  height: 21rem;
                  object-fit: contain;
                }
                .auto-group-xhed-YHK {
                  flex-shrink: 0;
                  margin-right: 2.8722rem;
                  box-sizing: border-box;
                  padding: 3.4rem 4rem 3.5rem 3.4rem;
                  display: flex;
                  align-items: center;

                  .rectangle-5-Tv5 {
                    width: 7.4rem;
                    height: 6.2rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0.8rem 5.2rem 0rem 0rem;
                  }
                  .rectangle-6-azh {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0.2rem 1.4rem 0rem 0rem;
                    width: 15.4rem;
                    height: 15rem;
                    object-fit: cover;
                  }
                  .rectangle-14-WdT {
                    width: 27rem;
                    height: 14.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0rem 1.4rem 0.8rem 0rem;
                  }
                  .rectangle-8-dxy {
                    flex-shrink: 0;
                    margin-bottom: 0.8rem;
                    width: 7.4rem;
                    height: 6.2rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
              }
            }
            .expertise-NvZ {
              font-family: Overpass Mono, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 6.1rem;
              font-weight: 700;
              line-height: 1.265;
              color: #6784e8;
            }
          }
          .languages-KL1 {
            line-height: 1.265;
            color: #6784e8;
            font-family: Overpass Mono, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.3rem;
            font-size: 6.1rem;
            font-weight: 700;
          }
        }
        .rectangle-16-et5 {
          position: absolute;
          left: 77rem;
          top: 49.9rem;
          box-shadow: 0 2.5rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d9d9d9;
          border-radius: 5rem;
          width: 58.5rem;
          height: 46.6rem;
        }
        .frame-1-LF7 {
          position: absolute;
          left: 81.5rem;
          top: 56.2rem;
          display: flex;
          align-items: center;
          width: 51.335rem;
          height: 37.3rem;
          cursor: pointer;

          .auto-group-u1im-4B7 {
            margin: 0rem 8.4rem 0.7rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-syyb-CHK {
              margin-bottom: 10rem;
              width: 10.8rem;
              height: 14.6rem;
              position: relative;
              flex-shrink: 0;

              .kotlin-removebg-preview-2-LeR {
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 10.6rem;
                height: 14.6rem;
                position: absolute;
                left: 0;
              }
              .kotlin-qr5 {
                line-height: 1.265;
                height: 3.5rem;
                position: absolute;
                font-size: 2.7rem;
                font-weight: 700;
                font-family: Overpass Mono, 'Source Sans Pro';
                white-space: nowrap;
                width: 10rem;
                left: 0.8rem;
                top: 5.3rem;
                color: #1f1d1d;
              }
            }
            .png-transparent-c-logo-the-c-programming-language-computer-icons-computer-programming-source-code-programming-miscellaneous-template-blue-removebg-preview-2-jgZ {
              flex-shrink: 0;
              margin-left: 1.9rem;
              width: 11rem;
              height: 12rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .js-javascript-round-logo-icon-png-11662226392lsrrajcm0y-removebg-preview-2-CKF {
            margin: 0rem 4rem 0.6rem 0rem;
            width: 10rem;
            height: 9.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-wu33-tSy {
            margin: 2.26rem 0rem 1.6rem 0rem;
            height: calc(100% - 3.8598rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .html5logoandwordmark-2-cNy {
              width: 15.0836rem;
              height: 14.3268rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0rem 9.013rem 0.951rem;
            }
            .c-sharp-c-logo-02f17714ba-seeklogo-2-Xkq {
              width: 12.3rem;
              height: 10.1rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .proficient-in-kotlin-c-javascript-and-html-currently-expanding-expertise-through-learning-c-Sso {
          width: 50.2rem;
          height: 23.5rem;
          position: absolute;
          left: 4.9rem;
          top: 68rem;
          font-size: 3.7rem;
          font-weight: 700;
          color: #ffffff;
          line-height: 1.265;
          font-family: Overpass Mono, 'Source Sans Pro';
        }
      }
      .proficient-in-android-unity-development-implementing-captivating-user-experiences-along-with-strategic-digital-marketing-using-google-ads-and-data-analysis-through-google-analytics-7DF {
        height: 24.6rem;
        top: 12.4rem;
        font-weight: 400;
        line-height: 1.3625;
        font-family: Open Sans, 'Source Sans Pro';
        width: 49.1rem;
        left: 88.1rem;
        font-size: 3rem;
        color: #ffffff;
        position: absolute;
      }
    }
    .project-column-YJZ {
      margin-right: 0.4rem;
      width: 137.3rem;
      flex-shrink: 0;

      .my-working-experience-gvZ {
        font-weight: 700;
        line-height: 1.265;
        color: #6784e8;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 1.887rem 1.621rem;
        font-size: 6.1rem;
      }
      .auto-group-8pxd-QLm {
        height: 58.2126rem;
        position: relative;
        width: 100%;

        .rectangle-11-x7P {
          height: 8.7949rem;
          position: absolute;
          left: 0;
          top: 49.4177rem;
          box-shadow: 0 3rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d9d9d9;
          width: 137.3rem;
        }
        .project-box-fnV {
          left: 48.739rem;
          top: 0;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 45rem;
          height: 53.8rem;
          position: absolute;

          .rectangle-12-QVB {
            margin: 0rem 0.064rem 0.14rem 0rem;
            width: 44.9362rem;
            height: 47.7292rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .rectangle-13-Xph {
            width: 45rem;
            height: 5.9313rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .project-box-UE9 {
          height: 53.9126rem;
          position: absolute;
          left: 97.3766rem;
          top: 0;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 38.5514rem;

          .rectangle-12-ziH {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.046rem;
            width: 38.5514rem;
            height: 47.8666rem;
          }
          .rectangle-13-YE1 {
            width: 34.5rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.0046rem;
          }
        }
        .project-box-g5K {
          width: 42.7rem;
          height: 53.9rem;
          position: absolute;
          left: 1.3rem;
          top: 0.0126rem;

          .rectangle-12-cUm {
            object-fit: contain;
            vertical-align: top;
            width: 42.7rem;
            height: 47.7rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .rectangle-13-xYd {
            vertical-align: top;
            width: 38.3rem;
            height: 6.2rem;
            position: absolute;
            left: 2.2rem;
            top: 47.7rem;
            object-fit: contain;
          }
          .project-box-W4M {
            top: 0;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 42.7rem;
            height: 53.9rem;
            position: absolute;
            left: 0;

            .rectangle-12-F1w {
              height: 47.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 42.7rem;
            }
            .rectangle-13-b5o {
              flex-shrink: 0;
              width: 38.3rem;
              height: 6.2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .button-wQZ {
          align-items: center;
          background-color: #8df84b;
          left: 8rem;
          display: flex;
          font-family: Overpass Mono, 'Source Sans Pro';
          top: 50.7126rem;
          white-space: nowrap;
          height: 6.3rem;
          position: absolute;
          font-weight: 700;
          line-height: 1.265;
          color: #000000;
          justify-content: center;
          width: 29.2rem;
          font-size: 3.7rem;
        }
        .button-pUM {
          left: 54.2rem;
          top: 50.6126rem;
          display: flex;
          align-items: center;
          width: 75.7rem;
          height: 6.3rem;
          position: absolute;

          .button-xaZ {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 29.2rem;
            font-family: Overpass Mono, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 3.3rem;
            font-weight: 700;
            line-height: 1.265;
            background-color: #8df84b;
            margin-right: 17.3rem;
            color: #000000;
            justify-content: center;
          }
          .auto-group-vzkd-eiH {
            font-weight: 700;
            line-height: 1.265;
            color: #000000;
            display: flex;
            width: 29.2rem;
            height: 100%;
            font-size: 3.7rem;
            font-family: Overpass Mono, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            background-color: #8df84b;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .auto-group-zeyb-5Yh {
    flex-shrink: 0;
    margin-right: 0.6rem;
    width: 146.5rem;
    height: 128.5rem;
    position: relative;

    .certificate-badges-Qqs {
      height: 67.7rem;
      position: absolute;
      display: flex;
      background: linear-gradient(180deg, #7ba86b -0%, rgba(65, 233, 6, 0) 76.38%, #030218 78.12%, #030218 97.03%);
      box-sizing: border-box;
      width: 145.4rem;
      top: 60.8rem;
      align-items: center;
      padding: 5.1rem 11.7rem 5.1rem 4.2rem;
      left: 0;

      .auto-group-z6ah-hKB {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 3.1rem 26.8rem 0rem;
        width: 55.5rem;
        align-items: center;
        display: flex;

        .certificates-badges-2cM {
          color: #f8fafe;
          font-family: Overpass Mono, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 10rem;
          font-size: 4.5rem;
          font-weight: 700;
          line-height: 1.265;
        }
        .auto-group-2rn5-9ws {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 6.7rem 0rem 8.8rem;
          width: calc(100% - 15.5rem);
          height: 15rem;

          .analyticscertificate-gS1 {
            box-sizing: border-box;
            padding: 1.5rem 3.7rem 1.5rem 2.4rem;
            height: 100%;
            box-shadow: 0 5rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #fffdfd;
            border-radius: 7.5rem;
            flex-shrink: 0;
            margin-right: 10rem;

            .rectangle-8-p2R {
              width: 8.9rem;
              height: 10.4rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .androidcertificate-7XK {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.4rem 2.4rem 4.1rem 2.3rem;
            height: 100%;
            box-shadow: 0 5rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #fffdfd;
            border-radius: 7.5rem;

            .rectangle-5-rE1 {
              width: 10.3rem;
              height: 8.5rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
      .unity-certicate-x29 {
        margin: 15.7rem 6.9rem 26.8rem 0rem;
        padding: 1.2rem 0rem 1.3rem 0rem;
        box-shadow: 0 5rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        box-sizing: border-box;
        width: 15rem;
        height: calc(100% - 42.5rem);
        background-color: #fffdfd;
        border-radius: 7.5rem;

        .unity-removebg-preview-1-Fmw {
          background-image: url('REPLACE_IMAGE:3e7c2488326622e74ca480f38820ba731bc616fd');
          width: 13.4rem;
          height: 12.5rem;
          position: relative;
          background-size: 300% 100%;
          background-position: 0rem 0;
        }
      }
      .cloudcertificate-ubb {
        margin: 15.7rem 6rem 26.8rem 0rem;
        width: 20.4rem;
        height: calc(100% - 42.5rem);
        position: relative;
        flex-shrink: 0;

        .ellipse-10-E85 {
          left: 2.7rem;
          top: 0;
          box-shadow: 0 5rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #fffdfd;
          border-radius: 7.5rem;
          width: 15rem;
          height: 15rem;
          position: absolute;
        }
        .cloud-removebg-preview-1-Lgu {
          vertical-align: top;
          width: 20.4rem;
          height: 8.9rem;
          position: absolute;
          left: 0;
          top: 2.6rem;
          object-fit: contain;
        }
      }
      .certificate-GaZ {
        flex-shrink: 0;
        margin: 13.6rem 0rem 23.3rem 0rem;
        width: 22.6rem;
        height: calc(100% - 36.9rem);
        position: relative;

        .ellipse-11-oKb {
          width: 15rem;
          height: 15rem;
          position: absolute;
          left: 3.6rem;
          top: 2.1rem;
          box-shadow: 0 5rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #fffdfd;
          border-radius: 7.5rem;
        }
        .screenshot85-removebg-preview-1-1-hvm {
          height: 20.6rem;
          position: relative;
          left: 0;
          top: 0;
          background-size: 289.823% 179.032%;
          background-position: -27.2rem -8.8403rem;
          background-image: url('REPLACE_IMAGE:dad4dc2def40d78ffcdc7731e34ea58a883c6af5');
          width: 22.6rem;
        }
      }
    }
    .rectangle-31-YgV {
      height: 60.8rem;
      position: absolute;
      left: 0.6rem;
      top: 0;
      background-color: #2c0034;
      width: 145.9rem;
    }
    .blogs-syf {
      color: #6784e8;
      width: 18.8rem;
      position: absolute;
      top: 1.2rem;
      font-weight: 700;
      line-height: 1.265;
      font-family: Overpass Mono, 'Source Sans Pro';
      white-space: nowrap;
      height: 7.8rem;
      left: 3.4rem;
      font-size: 6.1rem;
    }
    .frame-4-BjT {
      align-items: center;
      width: 138.3rem;
      height: 50.8rem;
      position: absolute;
      left: 2.5rem;
      top: 11.1rem;
      display: flex;
      column-gap: 5.1rem;

      .project-box-uQZ {
        flex-shrink: 0;
        width: 42.7rem;
        height: 100%;
        position: relative;

        .rectangle-12-TS5 {
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 42.7rem;
          height: 47.7rem;
          position: absolute;
          left: 0;
        }
        .button-oVw {
          position: absolute;
          color: #000000;
          justify-content: center;
          left: 6.7rem;
          font-family: Overpass Mono, 'Source Sans Pro';
          display: flex;
          background-color: #8df84b;
          font-size: 3.7rem;
          font-weight: 700;
          white-space: nowrap;
          align-items: center;
          width: 29.2rem;
          height: 6.3rem;
          top: 44.5rem;
          line-height: 1.265;
        }
      }
      .project-box-skh {
        width: 42.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-12-pA9 {
          width: 42.7rem;
          height: 47.7rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .button-LPP {
          top: 44.5rem;
          color: #000000;
          justify-content: center;
          background-color: #8df84b;
          height: 6.3rem;
          left: 6.7rem;
          position: absolute;
          font-size: 3.7rem;
          font-weight: 700;
          line-height: 1.265;
          white-space: nowrap;
          display: flex;
          align-items: center;
          width: 29.2rem;
          font-family: Overpass Mono, 'Source Sans Pro';
        }
      }
      .project-box-Di5 {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 42.7rem;

        .rectangle-12-aHj {
          width: 42.7rem;
          height: 47.7rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .button-7oT {
          font-size: 3.7rem;
          font-family: Overpass Mono, 'Source Sans Pro';
          align-items: center;
          white-space: nowrap;
          background-color: #8df84b;
          height: 6.3rem;
          position: absolute;
          left: 6.7rem;
          font-weight: 700;
          display: flex;
          width: 29.2rem;
          top: 44.5rem;
          line-height: 1.265;
          color: #000000;
          justify-content: center;
        }
      }
    }
    .footer-owB {
      box-sizing: border-box;
      width: 145.9rem;
      height: 11.267rem;
      left: 0.6rem;
      top: 117.233rem;
      align-items: center;
      background-color: #010406;
      padding: 3.023rem 54.323rem 3.435rem 3.816rem;
      position: absolute;
      display: flex;

      .connect-now-7BB {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.54rem 39.843rem 0rem 0rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .linkedin-23F {
        margin-right: 3.0124rem;
        width: 7.8322rem;
        height: 4.8091rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .instagram-MrD {
        margin: 0.206rem 4.117rem 0rem 0rem;
        width: 6.6273rem;
        height: 4.603rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .email-tLM {
        height: 4.603rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.2061rem;
        width: 7.0289rem;
      }
    }
  }
}
