
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.project-page-krh {
  background: linear-gradient(180deg, #000000 3.65%, #004674 44.79%, #5c0060 93.17%);
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  .portfolio-header-ujb {
    margin-bottom: 3.7rem;
    width: 144.3rem;
    height: 3.9rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-3L1 {
      width: 144.3rem;
      height: 3.6rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #a296ba;
    }
    .ellipse-6-aqj {
      top: 0.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.9rem;
      height: 2.7rem;
      position: absolute;
      left: 1.7rem;
    }
    .group-1-iww {
      width: 24.9264rem;
      height: 2.95rem;
      position: absolute;
      left: 118.0826rem;
      top: 0.45rem;

      .rectangle-21-4W1 {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #8df94c;
        width: 24.9264rem;
        height: 2.7rem;
      }
      .schedule-a-meeting-1g9 {
        width: 21.1rem;
        left: 0.5982rem;
        font-weight: 700;
        line-height: 1.265;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
        position: absolute;
        top: 0.45rem;
        font-size: 1.9rem;
        color: #000000;
      }
    }
    .sanskar-goyal-WN1 {
      top: 0.6rem;
      font-weight: 700;
      color: #ffffff;
      font-family: Overpass Mono, 'Source Sans Pro';
      white-space: nowrap;
      width: 20.9rem;
      position: absolute;
      left: 8.1rem;
      font-size: 2.6rem;
      line-height: 1.265;
      height: 3.3rem;
    }
    .frame-2-oM7 {
      align-items: center;
      width: 52.4rem;
      height: 3.1rem;
      position: absolute;
      left: 63.2rem;
      top: 0.5rem;
      display: flex;
      column-gap: 3.4rem;

      .skills-KaM {
        flex-shrink: 0;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
      }
      .project-f8R {
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
      }
      .certificates-zAh {
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.2rem;
      }
      .contact-8Xo {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-zaj1-fXj {
    height: 191.067rem;
    position: relative;
    flex-shrink: 0;
    width: 145.9rem;

    .business-card-o89 {
      font-size: 7.7rem;
      font-weight: 400;
      letter-spacing: 0.0385rem;
      width: 62.9rem;
      position: absolute;
      left: 63.7rem;
      color: #6884e9;
      font-family: Angkor, 'Source Sans Pro';
      white-space: nowrap;
      height: 13.8rem;
      top: 0;
      line-height: 1.7850181961;
    }
    .skindustries-VWm {
      width: 139.6rem;
      height: 182.1rem;
      position: absolute;
      left: 2.2rem;
      top: 2.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-rg1t-pow {
        margin: 0rem 2rem 3.5rem 2.4rem;
        width: calc(100% - 4.4rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .rectangle-26-x9T {
          margin-right: 5.3rem;
          width: 49.9rem;
          height: 35.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .it-is-an-app-which-we-can-use-for-see-my-personal-card-and-et-to-know-about-me-and-ways-for-connecting-with-me-VQH {
          font-weight: 400;
          line-height: 1.7866405487;
          letter-spacing: 0.01rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 5.3rem;
          max-width: 80rem;
          font-size: 2rem;
        }
      }
      .auto-group-ncvh-YtM {
        height: 143.1rem;
        box-shadow: 0 2rem 0.4rem rgba(0, 0, 0, 0.3700000048);
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4.4rem 4.5rem 4.4rem 9.2rem;
        width: 100%;

        .presenting-my-innovative-ar-vr-project-crafted-with-unity-the-ar-business-card-when-you-scan-the-business-card-a-virtual-world-unfolds-showcasing-intricate-details-and-interactivity-experience-a-cutting-edge-fusion-of-technology-and-networking-as-you-explore-a-dynamic-digital-representation-of-my-identity-contact-me-for-a-deeper-dive-into-this-immersive-experience-Un1 {
          max-width: 125.9rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.7866405487;
          letter-spacing: 0.01rem;
          color: #181717;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
    }
    .footer-QZB {
      left: 0;
      align-items: center;
      padding: 3.023rem 54.323rem 3.435rem 3.816rem;
      width: 145.9rem;
      position: absolute;
      top: 179.8rem;
      display: flex;
      background-color: #010406;
      box-sizing: border-box;
      height: 11.267rem;

      .connect-now-WMK {
        margin: 0.54rem 39.843rem 0rem 0rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .linkedin-2aZ {
        margin-right: 3.0124rem;
        width: 7.8322rem;
        height: 4.8091rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .instagram-ZqP {
        margin: 0.206rem 4.117rem 0rem 0rem;
        width: 6.6273rem;
        height: 4.603rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .email-J2H {
        margin-top: 0.2061rem;
        width: 7.0289rem;
        height: 4.603rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
