
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.ui-ux-designs-KZF {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #000000 3.65%, #004674 44.79%, #5c0060 93.17%);

  .portfolio-header-GUV {
    width: 144.3rem;
    height: 3.9rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-oDX {
      height: 3.6rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #a296ba;
      width: 144.3rem;
    }
    .ellipse-6-wKj {
      vertical-align: top;
      width: 2.9rem;
      height: 2.7rem;
      position: absolute;
      left: 1.7rem;
      top: 0.4rem;
      object-fit: contain;
    }
    .group-1-GN1 {
      width: 24.9264rem;
      height: 2.95rem;
      position: absolute;
      left: 118.0826rem;
      top: 0.45rem;

      .rectangle-21-nr9 {
        height: 2.7rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #8df94c;
        width: 24.9264rem;
      }
      .schedule-a-meeting-8v1 {
        color: #000000;
        font-family: Overpass Mono, 'Source Sans Pro';
        font-size: 1.9rem;
        height: 2.5rem;
        position: absolute;
        left: 0.5982rem;
        top: 0.45rem;
        font-weight: 700;
        line-height: 1.265;
        white-space: nowrap;
        width: 21.1rem;
      }
    }
    .sanskar-goyal-31P {
      left: 8.1rem;
      top: 0.6rem;
      color: #ffffff;
      font-family: Overpass Mono, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.265;
      width: 20.9rem;
      height: 3.3rem;
      position: absolute;
      font-size: 2.6rem;
      font-weight: 700;
    }
    .frame-2-3Qh {
      position: absolute;
      left: 63.2rem;
      top: 0.5rem;
      display: flex;
      column-gap: 3.4rem;
      align-items: center;
      width: 52.4rem;
      height: 3.1rem;

      .skills-mLh {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
      }
      .project-W3P {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .certificates-dth {
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.2rem;
      }
      .contact-aow {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-mga9-7Yy {
    padding: 1.7rem 0rem 0rem 0.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-ucfp-eJ1 {
      margin: 0rem 10.4rem 5.994rem 0rem;
      width: calc(100% - 10.4rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-zwot-B33 {
        position: relative;
        flex-shrink: 0;
        margin: 4rem 9.599rem 0rem 0rem;
        width: 41.2013rem;
        height: 35.8059rem;

        .ellipse-1-JNZ {
          width: 36.2rem;
          height: 8.1059rem;
          position: absolute;
          left: 5rem;
          top: 27.7rem;
          object-fit: contain;
          vertical-align: top;
        }
        .e22b9f7-f886-424c-a02a-ead74650774b-1-23f {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 41.2013rem;
          height: 35.7609rem;
        }
      }
      .auto-group-o7t3-wAd {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .ui-ux-tbf {
          font-size: 7.7rem;
          letter-spacing: 0.0385rem;
          color: #6884e9;
          font-family: Angkor, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.7rem;
          font-weight: 400;
          line-height: 1.7850181961;
          flex-shrink: 0;
        }
        .i-have-a-genuine-passion-for-creating-ui-ux-designs-as-they-require-thoughtful-consideration-from-the-perspective-of-the-users-to-achieve-visually-appealing-interfaces-and-ensure-a-seamless-user-experience-within-just-three-clicks-every-time-i-create-a-ui-i-prioritize-understanding-how-others-will-perceive-each-component-on-my-ui-ux-projects-page-you-will-find-a-showcase-of-my-work-where-i-have-applied-this-user-centric-approach-to-deliver-outstanding-results-in-various-projects-PYR {
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 82.1rem;
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.786640616;
          letter-spacing: 0.0085rem;
          color: #ffffff;
        }
      }
    }
    .auto-group-rbd7-t7o {
      width: 145.9rem;
      height: 168.467rem;
      position: relative;
      flex-shrink: 0;

      .uiux-projectstools-RtR {
        height: 158rem;
        left: 0;
        top: 0;
        align-items: center;
        flex-direction: column;
        width: 144.3rem;
        overflow: hidden;
        display: flex;
        position: absolute;

        .toolsplatformframe-xNZ {
          width: 100%;
          height: 29.2rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .toolsplatformlist-JxD {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 41.1rem;

            .tools-platform-sEd {
              font-weight: 400;
              letter-spacing: 0.517rem;
              color: #6884e9;
              font-family: Angkor, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 4.7rem;
              line-height: 1.805;
              text-decoration-line: underline;
              flex-shrink: 0;
            }
            .auto-group-ybmf-AzR {
              box-sizing: border-box;
              padding: 4.1rem 10.6rem 4.1rem 5.3rem;
              width: 100%;
              height: 32.6rem;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .ellipse-12-GXf {
                margin-right: 2.1rem;
                width: 14.9rem;
                height: 11.9rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .ellipse-13-zTf {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 4.7rem;
                width: 14.9rem;
                height: 11.9rem;
                object-fit: contain;
              }
              .ellipse-14-XyP {
                flex-shrink: 0;
                margin-right: 4.7rem;
                width: 14.9rem;
                height: 11.9rem;
                object-fit: contain;
                vertical-align: top;
              }
              .ellipse-15-tJ9 {
                margin: 0.2rem 4.7rem 0rem 0rem;
                width: 14.9rem;
                height: 11.9rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .ellipse-16-Cpd {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 4.7rem;
                width: 14.9rem;
                height: 11.9rem;
              }
              .ellipse-17-Z9P {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 3.2rem;
                width: 14.9rem;
                height: 11.9rem;
              }
              .ellipse-18-Voj {
                width: 14.9rem;
                height: 11.9rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .auto-group-8wzy-SDB {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.3rem 0.15rem 0rem 0.15rem;
          width: 100%;
          align-items: center;

          .uiux-projectlist-kjf {
            width: calc(100% - 4.4rem);
            height: 125.5rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 2.15rem 5rem 2.25rem;

            .frame-3-51F {
              width: 100%;
              height: 100%;
              overflow: hidden;
              position: relative;
              display: flex;
              flex-direction: column;

              .skindustries-R57 {
                margin-bottom: 5.9rem;
                box-sizing: border-box;
                padding: 0rem 1.1rem 0rem 2.7rem;
                align-items: flex-start;
                background-color: #ffffff;
                flex-shrink: 0;
                width: 100%;
                height: 25.8rem;
                display: flex;
                box-shadow: 0 2rem 0.4rem rgba(0, 0, 0, 0.3700000048);

                .rectangle-26-KwB {
                  margin: 1.5rem 4.6rem 0rem 0rem;
                  width: 34.7rem;
                  height: 22.3rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .auto-group-7xc5-EYM {
                  height: 22rem;
                  position: relative;
                  flex-shrink: 0;
                  width: 96.5rem;

                  .discover-sk-industries-top-notch-welding-fabrication-and-sheet-metal-work-through-our-user-friendly-wordpress-ui-ux-design-experience-their-cutting-edge-fiber-laser-cutting-and-cnc-bending-technology-for-a-one-stop-shop-solution-explore-their-precision-workshop-for-seamless-metal-component-manufacturing-n45 {
                    height: 14.3rem;
                    left: 0;
                    font-size: 2rem;
                    line-height: 1.7866405487;
                    letter-spacing: 0.01rem;
                    color: #181717;
                    width: 96.5rem;
                    top: 7.7rem;
                    font-weight: 400;
                    font-family: Open Sans, 'Source Sans Pro';
                    position: absolute;
                  }
                  .sk-industries-YhT {
                    text-decoration-line: underline;
                    font-family: Angkor, 'Source Sans Pro';
                    width: 45.3rem;
                    left: 0;
                    top: 0;
                    font-weight: 400;
                    line-height: 1.805;
                    letter-spacing: 0.517rem;
                    height: 8.5rem;
                    position: absolute;
                    font-size: 4.7rem;
                    color: #6884e9;
                    white-space: nowrap;
                  }
                }
              }
              .gwholsat-zZT {
                margin-bottom: 5.9rem;
                width: 325.9rem;
                height: 25.9rem;
                position: relative;
                flex-shrink: 0;

                .rectangle-23-Kbj {
                  left: 0;
                  top: 0.1rem;
                  box-shadow: 0 2rem 0.4rem rgba(0, 0, 0, 0.3700000048);
                  background-color: #ffffff;
                  width: 139.6rem;
                  height: 25.8rem;
                  position: absolute;
                }
                .rectangle-27-qa5 {
                  top: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 34.7rem;
                  height: 22.3rem;
                  position: absolute;
                  left: 2.7rem;
                }
                .introducing-our-ui-ux-project-for-gwholsat-a-dynamic-e-commerce-company-specializing-in-product-reselling-crafted-with-wix-our-design-ensures-a-seamless-shopping-experience-for-users-explore-gwholsats-platform-to-witness-intuitive-navigation-captivating-visuals-and-effortless-product-browsing-MYR {
                  font-size: 2rem;
                  font-weight: 400;
                  font-family: Open Sans, 'Source Sans Pro';
                  width: 283.9rem;
                  position: absolute;
                  left: 42rem;
                  top: 8.5rem;
                  white-space: nowrap;
                  height: 3.6rem;
                  line-height: 1.7866405487;
                  letter-spacing: 0.01rem;
                  color: #181717;
                }
                .gwholsat-L9T {
                  line-height: 1.805;
                  font-family: Angkor, 'Source Sans Pro';
                  width: 30.6rem;
                  height: 8.5rem;
                  position: absolute;
                  left: 42rem;
                  font-size: 4.7rem;
                  font-weight: 400;
                  top: 0;
                  letter-spacing: 0.517rem;
                  text-decoration-line: underline;
                  color: #6884e9;
                  white-space: nowrap;
                }
              }
              .online-mandsaur-Ekd {
                height: 25.8rem;
                position: relative;
                flex-shrink: 0;
                margin-bottom: 5.9rem;
                width: 330rem;

                .rectangle-24-aZb {
                  width: 139.6rem;
                  height: 25.8rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  box-shadow: 0 2rem 0.4rem rgba(0, 0, 0, 0.3700000048);
                  background-color: #ffffff;
                }
                .rectangle-28-uLy {
                  width: 34.7rem;
                  height: 22.3rem;
                  position: absolute;
                  left: 2.7rem;
                  top: 1.9rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .auto-group-7qa5-dnm {
                  left: 42rem;
                  top: 1.1rem;
                  width: 288rem;
                  height: 11.5rem;
                  position: absolute;

                  .presenting-our-standout-ui-ux-project-for-the-mandsaur-city-portal-one-of-its-most-exceptional-pages-the-city-guide-has-garnered-significant-recognition-ranking-well-on-google-designed-using-wix-our-intuitive-interface-allows-users-to-navigate-effortlessly-and-explore-the-citys-attractions-and-resources-Anh {
                    top: 7.9rem;
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.7866405487;
                    letter-spacing: 0.01rem;
                    width: 288rem;
                    height: 3.6rem;
                    left: 0;
                    color: #181717;
                    white-space: nowrap;
                    position: absolute;
                    font-family: Open Sans, 'Source Sans Pro';
                  }
                  .onlinemandsaurcity-portal-wws {
                    left: 0;
                    font-size: 4.4rem;
                    letter-spacing: 0.484rem;
                    text-decoration-line: underline;
                    color: #6884e9;
                    font-family: Angkor, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 88rem;
                    height: 8rem;
                    position: absolute;
                    top: 0;
                    font-weight: 400;
                    line-height: 1.805;
                  }
                }
              }
              .inventorymanagement-DuP {
                margin-bottom: 4.45rem;
                width: 433rem;
                height: 25.8rem;
                position: relative;
                flex-shrink: 0;

                .rectangle-25-Mkh {
                  top: 0;
                  box-shadow: 0 2rem 0.4rem rgba(0, 0, 0, 0.3700000048);
                  background-color: #ffffff;
                  width: 139.6rem;
                  height: 25.8rem;
                  position: absolute;
                  left: 0;
                }
                .rectangle-29-U4d {
                  left: 2.7rem;
                  top: 1.7rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 34.7rem;
                  height: 22.3rem;
                  position: absolute;
                }
                .auto-group-a9wt-zof {
                  width: 392.7rem;
                  height: 10.6rem;
                  position: absolute;
                  left: 40.3rem;
                  top: 0;

                  .introducing-our-latest-ui-ux-project-the-inventory-management-system-designed-meticulously-on-figma-this-comprehensive-platform-covers-all-aspects-of-supply-chain-management-experience-the-seamless-flow-of-inventory-tracking-order-processing-and-stock-management-all-wrapped-in-a-user-friendly-interface-optimize-your-inventory-operations-and-enhance-efficiency-with-this-powerful-and-intuitive-system-8ey {
                    width: 392.7rem;
                    left: 0;
                    font-size: 2rem;
                    line-height: 1.7866405487;
                    letter-spacing: 0.01rem;
                    height: 3.6rem;
                    position: absolute;
                    top: 7rem;
                    font-weight: 400;
                    color: #181717;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .inventory-management-ims-Tqf {
                    letter-spacing: 0.484rem;
                    text-decoration-line: underline;
                    color: #6884e9;
                    white-space: nowrap;
                    width: 88.2rem;
                    height: 8rem;
                    position: absolute;
                    font-size: 4.4rem;
                    font-family: Angkor, 'Source Sans Pro';
                    left: 0;
                    top: 0;
                    font-weight: 400;
                    line-height: 1.805;
                  }
                }
              }
              .inventorymanagement-Zdo {
                flex-shrink: 0;
                width: 433rem;
                height: 25.8rem;
                position: relative;

                .rectangle-25-iFo {
                  height: 25.8rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  box-shadow: 0 2rem 0.4rem rgba(0, 0, 0, 0.3700000048);
                  background-color: #ffffff;
                  width: 139.6rem;
                }
                .rectangle-29-EV3 {
                  height: 22.3rem;
                  position: absolute;
                  left: 2.7rem;
                  top: 1.7rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 34.7rem;
                }
                .auto-group-yscz-ZnD {
                  position: absolute;
                  left: 40.3rem;
                  top: 0;
                  width: 392.7rem;
                  height: 10.6rem;

                  .introducing-our-latest-ui-ux-project-the-inventory-management-system-designed-meticulously-on-figma-this-comprehensive-platform-covers-all-aspects-of-supply-chain-management-experience-the-seamless-flow-of-inventory-tracking-order-processing-and-stock-management-all-wrapped-in-a-user-friendly-interface-optimize-your-inventory-operations-and-enhance-efficiency-with-this-powerful-and-intuitive-system-733 {
                    width: 392.7rem;
                    font-weight: 400;
                    letter-spacing: 0.01rem;
                    top: 7rem;
                    font-size: 2rem;
                    line-height: 1.7866405487;
                    color: #181717;
                    font-family: Open Sans, 'Source Sans Pro';
                    height: 3.6rem;
                    position: absolute;
                    left: 0;
                    white-space: nowrap;
                  }
                  .inventory-management-ims-sAd {
                    line-height: 1.805;
                    position: absolute;
                    left: 0;
                    font-size: 4.4rem;
                    font-weight: 400;
                    text-decoration-line: underline;
                    color: #6884e9;
                    font-family: Angkor, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 88.2rem;
                    height: 8rem;
                    top: 0;
                    letter-spacing: 0.484rem;
                  }
                }
              }
            }
          }
          .footer-AQd {
            height: 16.4rem;
            display: flex;
            align-items: center;
            background-color: #010406;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 5.544rem 61.1rem 6.06rem 3.8rem;
            width: 100%;

            .connect-now-fsB {
              font-size: 3rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 38.8rem 0.984rem 0rem;
            }
            .vector-ajF {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2.2rem;
              width: 5.8rem;
              height: 4.7955rem;
            }
            .vector-vo7 {
              flex-shrink: 0;
              margin: 0.213rem 3.1rem 0rem 0rem;
              width: 4.8rem;
              height: 4.5824rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-4eR {
              flex-shrink: 0;
              margin-top: 0.2131rem;
              width: 5.1rem;
              height: 4.5824rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
      .footer-beM {
        width: 145.9rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 3.023rem 54.323rem 3.435rem 3.816rem;
        height: 11.267rem;
        position: absolute;
        left: 0;
        top: 157.2rem;
        background-color: #010406;

        .connect-now-76u {
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.54rem 39.843rem 0rem 0rem;
          font-size: 3rem;
          font-weight: 400;
        }
        .linkedin-2zZ {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 3.0124rem;
          width: 7.8322rem;
          height: 4.8091rem;
          object-fit: contain;
        }
        .instagram-NoX {
          margin: 0.206rem 4.117rem 0rem 0rem;
          width: 6.6273rem;
          height: 4.603rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .email-6zR {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.2061rem;
          width: 7.0289rem;
          height: 4.603rem;
        }
      }
    }
  }
}
