
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.certificates-dNV {
  background: linear-gradient(180deg, #000000 3.65%, #004674 44.79%, #5c0060 93.17%);
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .portfolio-header-mzV {
    position: relative;
    flex-shrink: 0;
    margin-bottom: 1.7rem;
    width: 144.3rem;
    height: 3.9rem;

    .rectangle-1-uqo {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #a296ba;
      width: 144.3rem;
      height: 3.6rem;
    }
    .ellipse-6-qjT {
      width: 2.9rem;
      height: 2.7rem;
      position: absolute;
      left: 1.7rem;
      top: 0.4rem;
      object-fit: contain;
      vertical-align: top;
    }
    .group-1-y4y {
      position: absolute;
      left: 118.0826rem;
      top: 0.45rem;
      width: 24.9264rem;
      height: 2.95rem;

      .rectangle-21-uUR {
        top: 0;
        background-color: #8df94c;
        width: 24.9264rem;
        height: 2.7rem;
        position: absolute;
        left: 0;
      }
      .schedule-a-meeting-TF3 {
        font-size: 1.9rem;
        line-height: 1.265;
        color: #000000;
        white-space: nowrap;
        width: 21.1rem;
        position: absolute;
        left: 0.5982rem;
        font-family: Overpass Mono, 'Source Sans Pro';
        height: 2.5rem;
        top: 0.45rem;
        font-weight: 700;
      }
    }
    .sanskar-goyal-kE9 {
      left: 8.1rem;
      top: 0.6rem;
      font-weight: 700;
      color: #ffffff;
      width: 20.9rem;
      position: absolute;
      font-size: 2.6rem;
      line-height: 1.265;
      font-family: Overpass Mono, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.3rem;
    }
    .frame-2-f6D {
      width: 52.4rem;
      height: 3.1rem;
      position: absolute;
      left: 63.2rem;
      top: 0.5rem;
      display: flex;
      column-gap: 3.4rem;
      align-items: center;

      .skills-BKT {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .project-KAm {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
      }
      .certificates-GLu {
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.2rem;
        font-weight: 700;
      }
      .contact-1ZP {
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3849052494;
      }
    }
  }
  .certificates-M7T {
    line-height: 1.7850181961;
    margin: 0rem 0rem 5rem 3.2rem;
    font-size: 7.7rem;
    font-weight: 400;
    white-space: nowrap;
    flex-shrink: 0;
    letter-spacing: 0.0385rem;
    color: #6884e9;
    font-family: Angkor, 'Source Sans Pro';
  }
  .projectscroll-41s {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 2rem 1.4rem 2.4rem;
    width: calc(100% - 4.4rem);

    .uiux-projectlist-NYM {
      height: 33.6rem;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 5rem;
      width: 100%;
      overflow: hidden;
      align-items: flex-end;

      .skindustries-WPf {
        box-sizing: border-box;
        padding: 0rem 2.5rem 0rem 2.4rem;
        height: 42.4rem;
        box-shadow: 0 2rem 0.4rem rgba(0, 0, 0, 0.3700000048);
        background-color: #ffffff;
        margin-bottom: 5.9rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .rectangle-26-dDP {
          margin: 4.2rem 4.9rem 0rem 0rem;
          width: 34.7rem;
          height: 22.3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-d7rm-kYu {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-vubx-7PT {
            width: 46.3rem;
            height: 10.6rem;
            position: relative;
            flex-shrink: 0;

            .skills-learned-TiD {
              font-weight: 400;
              letter-spacing: 0.517rem;
              text-decoration-line: underline;
              height: 8.5rem;
              position: absolute;
              left: 0;
              top: 0;
              font-size: 4.7rem;
              color: #6884e9;
              font-family: Angkor, 'Source Sans Pro';
              width: 46.3rem;
              line-height: 1.805;
              white-space: nowrap;
            }
            .by-google-a29 {
              position: absolute;
              left: 0;
              top: 6.4rem;
              font-size: 2.3rem;
              font-weight: 400;
              letter-spacing: 0.253rem;
              font-family: Angkor, 'Source Sans Pro';
              white-space: nowrap;
              width: 17.8rem;
              height: 4.2rem;
              line-height: 1.805;
              text-decoration-line: underline;
              color: rgba(0, 0, 0, 0.400000006);
            }
          }
          .presenting-my-innovative-ar-vr-project-crafted-with-unity-the-ar-business-card-when-you-scan-the-business-card-a-virtual-world-unfolds-showcasing-intricate-details-and-interactivity-experience-a-cutting-edge-fusion-of-technology-and-networking-as-you-explore-a-dynamic-digital-representation-of-my-identity-contact-me-for-a-deeper-dive-into-this-immersive-experience-g5B {
            flex-shrink: 0;
            max-width: 95.1rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.7866405487;
            letter-spacing: 0.01rem;
            color: #181717;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
      }
      .ellipse-20-1Wm {
        width: 10rem;
        height: 10rem;
        background-color: #d9d9d9;
        border-radius: 5rem;
        flex-shrink: 0;
      }
    }
    .uiux-projectlist-jxZ {
      position: relative;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      height: 33.6rem;
      overflow: hidden;

      .skindustries-62R {
        display: flex;
        width: 100%;
        height: 42.4rem;
        align-items: flex-start;
        box-shadow: 0 2rem 0.4rem rgba(0, 0, 0, 0.3700000048);
        background-color: #ffffff;
        margin-bottom: 5.9rem;
        box-sizing: border-box;
        padding: 0rem 2.5rem 0rem 2.4rem;
        flex-shrink: 0;

        .rectangle-26-ztV {
          margin: 4.2rem 4.9rem 0rem 0rem;
          width: 34.7rem;
          height: 22.3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-cs1s-KQy {
          flex-shrink: 0;
          display: flex;
          flex-direction: column;

          .auto-group-bads-4dT {
            width: 46.3rem;
            height: 10.6rem;
            position: relative;
            flex-shrink: 0;

            .skills-learned-QxD {
              line-height: 1.805;
              color: #6884e9;
              font-family: Angkor, 'Source Sans Pro';
              height: 8.5rem;
              position: absolute;
              left: 0;
              font-weight: 400;
              letter-spacing: 0.517rem;
              text-decoration-line: underline;
              white-space: nowrap;
              width: 46.3rem;
              top: 0;
              font-size: 4.7rem;
            }
            .by-google-8NR {
              text-decoration-line: underline;
              font-family: Angkor, 'Source Sans Pro';
              top: 6.4rem;
              height: 4.2rem;
              position: absolute;
              left: 0;
              font-size: 2.3rem;
              font-weight: 400;
              line-height: 1.805;
              letter-spacing: 0.253rem;
              width: 17.8rem;
              white-space: nowrap;
              color: rgba(0, 0, 0, 0.400000006);
            }
          }
          .presenting-my-innovative-ar-vr-project-crafted-with-unity-the-ar-business-card-when-you-scan-the-business-card-a-virtual-world-unfolds-showcasing-intricate-details-and-interactivity-experience-a-cutting-edge-fusion-of-technology-and-networking-as-you-explore-a-dynamic-digital-representation-of-my-identity-contact-me-for-a-deeper-dive-into-this-immersive-experience-pW9 {
            letter-spacing: 0.01rem;
            color: #181717;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 95.1rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.7866405487;
          }
        }
      }
      .ellipse-20-Zs3 {
        border-radius: 5rem;
        flex-shrink: 0;
        width: 10rem;
        height: 10rem;
        background-color: #d9d9d9;
      }
    }
  }
  .footer-JJq {
    height: 11.267rem;
    display: flex;
    align-items: center;
    background-color: #010406;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.023rem 54.323rem 3.435rem 3.816rem;
    width: 100%;

    .connect-now-Dgh {
      flex-shrink: 0;
      margin: 0.54rem 39.843rem 0rem 0rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .linkedin-wMo {
      width: 7.8322rem;
      height: 4.8091rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 3.0124rem;
    }
    .instagram-Gus {
      margin: 0.206rem 4.117rem 0rem 0rem;
      width: 6.6273rem;
      height: 4.603rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .email-oQ1 {
      margin-top: 0.2061rem;
      width: 7.0289rem;
      height: 4.603rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
