
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.projects-xAy {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #000000 3.65%, #004674 44.79%, #5c0060 93.17%);

  .portfolio-header-heM {
    margin-bottom: 1.7rem;
    width: 144.3rem;
    height: 3.9rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-qEm {
      width: 144.3rem;
      height: 3.6rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #a296ba;
    }
    .ellipse-6-mu7 {
      height: 2.7rem;
      position: absolute;
      left: 1.7rem;
      top: 0.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.9rem;
    }
    .group-1-7CH {
      height: 2.95rem;
      position: absolute;
      left: 118.0826rem;
      top: 0.45rem;
      width: 24.9264rem;

      .rectangle-21-eCD {
        left: 0;
        top: 0;
        background-color: #8df94c;
        width: 24.9264rem;
        height: 2.7rem;
        position: absolute;
      }
      .schedule-a-meeting-Bxq {
        width: 21.1rem;
        position: absolute;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
        left: 0.5982rem;
        top: 0.45rem;
        font-size: 1.9rem;
        font-weight: 700;
        line-height: 1.265;
        color: #000000;
      }
    }
    .sanskar-goyal-6a1 {
      font-weight: 700;
      color: #ffffff;
      font-family: Overpass Mono, 'Source Sans Pro';
      white-space: nowrap;
      left: 8.1rem;
      font-size: 2.6rem;
      position: absolute;
      top: 0.6rem;
      line-height: 1.265;
      width: 20.9rem;
      height: 3.3rem;
    }
    .frame-2-D8q {
      align-items: center;
      width: 52.4rem;
      height: 3.1rem;
      position: absolute;
      left: 63.2rem;
      top: 0.5rem;
      display: flex;
      column-gap: 3.4rem;

      .skills-jss {
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.2rem;
      }
      .project-5wj {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .certificates-Do3 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .contact-y1X {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
      }
    }
  }
  .latest-projects-uQy {
    letter-spacing: 0.0385rem;
    color: #6884e9;
    font-family: Angkor, 'Source Sans Pro';
    white-space: nowrap;
    margin: 0rem 0rem 6.6rem 3.2rem;
    font-weight: 400;
    flex-shrink: 0;
    font-size: 7.7rem;
    line-height: 1.7850181961;
  }
  .projectscroll-1iu {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 2rem 2rem 2.4rem;
    width: calc(100% - 4.4rem);

    .auto-group-hr53-w6m {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 5rem;
      width: 100%;
      height: 36.3rem;

      .uiux-projectlist-BG1 {
        position: absolute;
        top: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 36.3rem;
        left: 0;
        align-items: flex-end;
        width: 139.6rem;

        .skindustries-hVF {
          box-sizing: border-box;
          padding: 0rem 0.9rem 8rem 2.15rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 5.9rem;
          box-shadow: 0 2rem 0.4rem rgba(0, 0, 0, 0.3700000048);
          background-color: #ffffff;
          flex-shrink: 0;
          align-items: center;

          .auto-group-jjux-21j {
            flex-shrink: 0;
            margin: 0rem 1.6rem 1.4rem 0rem;
            width: calc(100% - 1.6rem);
            display: flex;
            align-items: flex-start;

            .rectangle-26-wuP {
              width: 34.7rem;
              height: 22.3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 1.7rem 5.15rem 0rem 0rem;
            }
            .auto-group-8txx-4z1 {
              position: relative;
              flex-shrink: 0;
              width: 95.1rem;
              height: 22rem;

              .presenting-my-innovative-ar-vr-project-crafted-with-unity-the-ar-business-card-when-you-scan-the-business-card-a-virtual-world-unfolds-showcasing-intricate-details-and-interactivity-experience-a-cutting-edge-fusion-of-technology-and-networking-as-you-explore-a-dynamic-digital-representation-of-my-identity-contact-me-for-a-deeper-dive-into-this-immersive-experience-R3s {
                height: 14.3rem;
                left: 0;
                font-size: 2rem;
                font-weight: 400;
                font-family: Open Sans, 'Source Sans Pro';
                color: #181717;
                width: 95.1rem;
                position: absolute;
                top: 7.7rem;
                line-height: 1.7866405487;
                letter-spacing: 0.01rem;
              }
              .business-card-xxu {
                position: absolute;
                font-weight: 400;
                color: #6884e9;
                white-space: nowrap;
                width: 44.8rem;
                height: 8.5rem;
                left: 0;
                top: 0;
                font-size: 4.7rem;
                line-height: 1.805;
                letter-spacing: 0.517rem;
                text-decoration-line: underline;
                font-family: Angkor, 'Source Sans Pro';
              }
            }
          }
          .auto-group-zdv7-4m3 {
            margin-left: 1.35rem;
            width: calc(100% - 1.35rem);
            height: 9rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .auto-group-tzdf-Q4D {
              margin-right: 61.3rem;
              width: 33.4rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .java-python-with-django-docker-YAR {
                left: 1.9rem;
                top: 5.4rem;
                letter-spacing: 0.01rem;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                color: #181717;
                width: 31.5rem;
                height: 3.6rem;
                position: absolute;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.7866405487;
              }
              .skills-used-cvy {
                line-height: 1.805;
                letter-spacing: 0.33rem;
                text-decoration-line: underline;
                color: #6884e9;
                top: 0;
                font-size: 3rem;
                font-weight: 400;
                left: 0;
                font-family: Angkor, 'Source Sans Pro';
                white-space: nowrap;
                width: 24rem;
                height: 5.5rem;
                position: absolute;
              }
            }
            .no-of-collaborators-88d {
              letter-spacing: 0.33rem;
              text-decoration-line: underline;
              color: #6884e9;
              font-family: Angkor, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 3rem;
              font-weight: 400;
              line-height: 1.805;
              flex-shrink: 0;
            }
          }
        }
        .ellipse-20-1TK {
          border-radius: 5rem;
          flex-shrink: 0;
          width: 10rem;
          height: 10rem;
          background-color: #d9d9d9;
        }
      }
      .ellipse-21-kA1 {
        width: 5.3rem;
        height: 5rem;
        position: absolute;
        left: 99rem;
        top: 29.2rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .uiux-projectlist-t1K {
      height: 36.3rem;
      overflow: hidden;
      position: relative;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;

      .skindustries-E5B {
        padding: 0rem 0.9rem 8rem 2.15rem;
        height: 42.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 5.9rem;
        width: 100%;
        box-shadow: 0 2rem 0.4rem rgba(0, 0, 0, 0.3700000048);
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-dag5-9xq {
          margin: 0rem 1.6rem 1.4rem 0rem;
          width: calc(100% - 1.6rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .rectangle-26-tfX {
            margin: 1.7rem 5.15rem 0rem 0rem;
            width: 34.7rem;
            height: 22.3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-ai2h-crR {
            width: 95.1rem;
            height: 22rem;
            position: relative;
            flex-shrink: 0;

            .presenting-my-innovative-ar-vr-project-crafted-with-unity-the-ar-business-card-when-you-scan-the-business-card-a-virtual-world-unfolds-showcasing-intricate-details-and-interactivity-experience-a-cutting-edge-fusion-of-technology-and-networking-as-you-explore-a-dynamic-digital-representation-of-my-identity-contact-me-for-a-deeper-dive-into-this-immersive-experience-N4u {
              width: 95.1rem;
              position: absolute;
              font-size: 2rem;
              font-weight: 400;
              letter-spacing: 0.01rem;
              color: #181717;
              font-family: Open Sans, 'Source Sans Pro';
              height: 14.3rem;
              left: 0;
              top: 7.7rem;
              line-height: 1.7866405487;
            }
            .business-card-vEq {
              position: absolute;
              font-weight: 400;
              letter-spacing: 0.517rem;
              text-decoration-line: underline;
              white-space: nowrap;
              width: 44.8rem;
              height: 8.5rem;
              left: 0;
              top: 0;
              font-size: 4.7rem;
              line-height: 1.805;
              color: #6884e9;
              font-family: Angkor, 'Source Sans Pro';
            }
          }
        }
        .auto-group-teh3-RxH {
          width: calc(100% - 1.35rem);
          height: 9rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin-left: 1.35rem;

          .auto-group-cbsb-yD7 {
            width: 33.4rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;
            margin-right: 61.3rem;

            .java-python-with-django-docker-KGy {
              left: 1.9rem;
              font-weight: 400;
              line-height: 1.7866405487;
              letter-spacing: 0.01rem;
              color: #181717;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              width: 31.5rem;
              height: 3.6rem;
              position: absolute;
              top: 5.4rem;
              font-size: 2rem;
            }
            .skills-used-oT3 {
              height: 5.5rem;
              top: 0;
              font-size: 3rem;
              text-decoration-line: underline;
              color: #6884e9;
              width: 24rem;
              left: 0;
              font-weight: 400;
              line-height: 1.805;
              letter-spacing: 0.33rem;
              font-family: Angkor, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
            }
          }
          .no-of-collaborators-7Tj {
            line-height: 1.805;
            letter-spacing: 0.33rem;
            white-space: nowrap;
            font-size: 3rem;
            text-decoration-line: underline;
            color: #6884e9;
            font-family: Angkor, 'Source Sans Pro';
            flex-shrink: 0;
            font-weight: 400;
          }
        }
      }
      .ellipse-20-QBw {
        border-radius: 5rem;
        flex-shrink: 0;
        width: 10rem;
        height: 10rem;
        background-color: #d9d9d9;
      }
    }
  }
  .footer-8dj {
    box-sizing: border-box;
    padding: 3.023rem 54.323rem 3.435rem 3.816rem;
    width: 145.9rem;
    height: 11.267rem;
    display: flex;
    align-items: center;
    background-color: #010406;
    flex-shrink: 0;

    .connect-now-r3w {
      margin: 0.54rem 39.843rem 0rem 0rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .linkedin-mAu {
      margin-right: 3.0124rem;
      width: 7.8322rem;
      height: 4.8091rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .instagram-hqF {
      height: 4.603rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.206rem 4.117rem 0rem 0rem;
      width: 6.6273rem;
    }
    .email-qRf {
      width: 7.0289rem;
      height: 4.603rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.2061rem;
    }
  }
}
