
html {
	font-size:50.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.skills-6Zj {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #000000 3.65%, #004674 44.79%, #5c0060 93.17%);
}
.skills-6Zj .skills-RA5 {
  margin: 0rem 0rem 4.6rem 3.2rem;
  font-size: 7.7rem;
  font-weight: 400;
  line-height: 1.7850181961;
  letter-spacing: 0.0385rem;
  color: #6884e9;
  font-family: Angkor, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.skills-6Zj .projectscroll-KmF {
  margin: 0rem 2.2rem 2rem 2.2rem;
  width: calc(100% - 4.4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.skills-6Zj .projectscroll-KmF .uiux-projectlist-eYd {
  margin-bottom: 5rem;
  width: 100%;
  height: 33.6rem;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.skills-6Zj .projectscroll-KmF .uiux-projectlist-eYd .skindustries-BYZ {
  margin-bottom: 5.9rem;
  box-sizing: border-box;
  position: absolute;
  padding: 0rem 2.5rem 0rem 2.15rem;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 2rem 0.4rem rgba(0, 0, 0, 0.3700000048);
  background-color: #ffffff;
  flex-shrink: 0;
}
.skills-6Zj .projectscroll-KmF .uiux-projectlist-eYd .skindustries-BYZ .rectangle-26-W53 {
  margin: 1.7rem 5.15rem 0rem 0rem;
  width: 34.7rem;
  height: 22.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.skills-6Zj .projectscroll-KmF .uiux-projectlist-eYd .skindustries-BYZ .auto-group-nqdb-E13 {
  position: relative;
  margin-right: 3rem;
  width: 75%;
  align-items: self-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.skills-6Zj .projectscroll-KmF .uiux-projectlist-eYd .skindustries-BYZ .auto-group-nqdb-E13 .auto-group-zyzh-Nsw {
  margin-bottom: 0.5rem;
  width: 100%;
  height: 22rem;
  position: relative;
  flex-shrink: 0;
}
.skills-6Zj .projectscroll-KmF .uiux-projectlist-eYd .skindustries-BYZ .auto-group-nqdb-E13 .auto-group-zyzh-Nsw .small-intro {
  width: 95%;
  height: 14.3rem;
  position: relative;
  left: 0;
  top: 7.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7866405487;
  letter-spacing: 0.01rem;
  color: #181717;
  font-family: Open Sans, 'Source Sans Pro';
}
.skills-6Zj .projectscroll-KmF .uiux-projectlist-eYd .skindustries-BYZ .auto-group-nqdb-E13 .auto-group-zyzh-Nsw .business-card-6Bf {
  width: 44.8rem;
  height: 8.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4.7rem;
  font-weight: 400;
  line-height: 1.805;
  letter-spacing: 0.517rem;
  text-decoration-line: underline;
  color: #6884e9;
  font-family: Angkor, 'Source Sans Pro';
  white-space: nowrap;
}
.skills-6Zj .projectscroll-KmF .uiux-projectlist-eYd .skindustries-BYZ .auto-group-nqdb-E13 .auto-group-futm-PwT {
  margin-right: 1rem;
  width: 23.7rem;
  height: 9.9rem;
  position: relative;
  flex-shrink: 0;
}
.skills-6Zj .projectscroll-KmF .uiux-projectlist-eYd .skindustries-BYZ .auto-group-nqdb-E13 .auto-group-futm-PwT .skills-level-wi5 {
  width: 23.7rem;
  height: 5.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.805;
  letter-spacing: 0.33rem;
  text-decoration-line: underline;
  color: #6884e9;
  font-family: Angkor, 'Source Sans Pro';
  white-space: nowrap;
}
.skills-6Zj .projectscroll-KmF .uiux-projectlist-eYd .skindustries-BYZ .auto-group-nqdb-E13 .auto-group-futm-PwT .expert-esP {
  width: 13.1rem;
  height: 5.5rem;
  position: absolute;
  left: 5.3rem;
  top: 4.4rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.805;
  letter-spacing: 0.33rem;
  color: #8df94c;
  font-family: Angkor, 'Source Sans Pro';
  white-space: nowrap;
}
/* Header */
.skills-6Zj .portfolio-header-Q5j {
  width: 100%;
  height: 4.6rem;
  position: relative;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;

}
.skills-6Zj .portfolio-header-Q5j .rectangle-1-Lk5 {
  width: 100%;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #a296ba;
}

.skills-6Zj .portfolio-header-Q5j .Header-Title-logo {
  width: auto;
  height: 5rem;
  flex-shrink: 0;
}
.skills-6Zj .portfolio-header-Q5j .Header-Title-logo  .ellipse-6-tFo {
  width: 11rem;
  height: 3.5rem;
  position: absolute;
  top: 0.3rem;
  object-fit: contain;
  vertical-align: top;
  
}

.skills-6Zj .portfolio-header-Q5j .Header-Title-logo  .sanskar-goyal-BeD {
  width: auto;
  height: 3.3rem;
  position: absolute;
  left: 8.1rem;
  top: 0.6rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.265;
  color: #ffffff;
  font-family: Overpass Mono, 'Source Sans Pro';
  white-space: nowrap;
}
.skills-6Zj .portfolio-header-Q5j .frame-2-5zV {
  width: auto;
  height: 3.1rem;
  position: relative;
  top: 0.5rem;
  display: flex;
  column-gap: 3.4rem;
  align-items: center;
  margin-right: 5rem;
}
.skills-6Zj .portfolio-header-Q5j .frame-2-5zV .skills-pah {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3849052494;
  color: #ffffff;
  font-family: Overpass Mono, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.skills-6Zj .portfolio-header-Q5j .frame-2-5zV .project-Z2V {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3849052494;
  color: #ffffff;
  font-family: Overpass Mono, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.skills-6Zj .portfolio-header-Q5j .frame-2-5zV .certificates-HjB {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3849052494;
  color: #ffffff;
  font-family: Overpass Mono, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.skills-6Zj .portfolio-header-Q5j .frame-2-5zV .contact-qEu {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3849052494;
  color: #ffffff;
  font-family: Overpass Mono, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.skills-6Zj .portfolio-header-Q5j .frame-2-5zV .group-1-1rD  {
  width: 24.9264rem;
  height: 3rem;
  top: 0.45rem;
  display: block;
  background-color: #8df94c;
}

.skills-6Zj .portfolio-header-Q5j .frame-2-5zV  .group-1-1rD .schedule-a-meeting-tf7 {
  width: 21.1rem;
  height: 2.5rem;
  position: relative;
  left: 0.5982rem;
  
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.265;
  color: #000000;
  font-family: Overpass Mono, 'Source Sans Pro';
  white-space: nowrap;
}
/* Footer */
.skills-6Zj .footer-uQR {
  box-sizing: border-box;
  padding: 3.023rem 1.653rem 1.435rem 3.769rem;
  width: 100%;
  height: 11.267rem;
  display: flex;
  align-items: center;
  background-color: #010406;
  flex-shrink: 0;
  justify-content: space-between
}
.skills-6Zj .footer-uQR .socialIcons {
  box-sizing: border-box;
  padding: 3.023rem 2.653rem 3.435rem 3.769rem;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}
.skills-6Zj .footer-uQR .connect-now-Qry {
  margin: 0.54rem 39.114rem 0rem 0rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.skills-6Zj .footer-uQR .socialIcons .linkedin-XAu {
  margin-right: 2.9753rem;
  width: 7.7356rem;
  height: 4.8091rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.skills-6Zj .footer-uQR .socialIcons .instagram-fH7 {
  margin: 0.206rem 4.066rem 0rem 0rem;
  width: 6.5455rem;
  height: 4.603rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.skills-6Zj .footer-uQR .socialIcons .email-NhK {
  margin-top: 0.2061rem;
  width: 6.9422rem;
  height: 4.603rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.linkdecoration{
  text-decoration: none;
}

