{%load static%}
<!DOCTYPE html>
<html>
<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MV0713MJDF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MV0713MJDF');
</script>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>App/WEbev</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Angkor%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass+Mono%3A700"/>
  <link rel="stylesheet" href="{% static './styles/app-webev.css'%}"/>
</head>

<body>
<div class="app-webev-rK7">
  <div class="portfolio-header-Q5j">
    <div class="rectangle-1-Lk5"></div>
      <div class = "Header-Title-logo">  
        <img class="ellipse-6-tFo" src="{% static './assets/ReadyPlayerMe-Avatar (1).png'%}"/>
        <a class="linkdecoration" href="{% url 'dashboard' %}">
        <p class="sanskar-goyal-BeD">Sanskar Goyal</p>
      </a>
      </div>
    
    
    <div class="frame-2-5zV">
      <a class="linkdecoration" href="{% url 'skills' %}">
        <p class="skills-pah">Skills</p>
      </a>
      <a class="linkdecoration" href="{% url 'projects' %}">
        <p class="project-Z2V">Project</p>
      </a>
      <a class="linkdecoration" href="{% url 'certificate' %}">
        <p class="certificates-HjB">Certificates</p>
      </a>
      <a class="linkdecoration" href="{% url 'ContactUs' %}">
      <p class="contact-qEu">Contact</p>
      </a>
      <button class="group-1-1rD">  
        <a class="linkdecoration" href="https://calendly.com/gwholsat/sanskar">
        <p class="schedule-a-meeting-tf7">Schedule A Meeting</p>
      </a>
      </button>
    </div>
  </div>
  <div class="auto-group-tjbt-Any">
    <div class="auto-group-qntp-h2D">
      <div class="auto-group-ktwx-cQ5">
        <img class="ellipse-1-8tD" src="{% static './assets/ellipse-1-Lq3.png'%}"/>
        <img class="man-hold-smartphone-and-push-app-icon-vector-21941484-removebg-preview-1-1-NnZ" src="{% static './assets/man-hold-smartphone-and-push-app-icon-vector-21941484-removebg-preview-1-1.png'%}"/>
      </div>
      <div class="auto-group-a45k-G7F">
        <p class="app-web-projects-cgu">App/Web Projects</p>
        <p class="app-web-dis">I specialize in transforming abstract ideas and imaginative visions into practical applications and user-friendly websites. My passion lies in streamlining processes through Android Studio and harnessing the power of JavaScript. With a keen eye for design and a knack for coding, I create seamless experiences that simplify tasks and enhance functionality. Explore my portfolio to witness how I&#39;ve translated concepts into intuitive apps and dynamic websites, ultimately making complex tasks easier and more efficient for users.</p>
      </div>
    </div>
    <div class="uiux-projectstools-E61">
      <div class="toolsplatformlist-y3b">
        <p class="tools-platform-K7T">Tools &amp; Platform</p>
        
        
        <img class="rectangle-5-eJ9" src="{% static './assets/rectangle-5-cwf.png'%}"/>
        <img class="rectangle-5-eJ9" src="{% static './assets/rectangle-5-cwf.png'%}"/>
      </div>
      <div class="uiux-projectlist-mNm">
        {% for item in upload_data %}
        <div class="skindustries-7Bj">
          <a class="rectangle-26-KwB" href="{{item.image}}"  target="_blank">
          <img class="rectangle-26-F33" src="{{item.image}}" alt="Image"/>
          </a>
          <div class="auto-group-tuem-9eD">
            <div class="auto-group-vubx-7PT">
              <a class="business-card-eUV" href="{% url 'project' blog_id=item.id %}">
              <p class="business-card-eUV">{{ item.tittle }}</p>
              </a>
            </div>
            <p class="app-intro">{{ item.intro }}</p>
          </div> 
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="footer-uQR">
    <p class="connect-now-Qry">Connect Now</p>
    <div class = "socialIcons">
     <a href="https://www.linkedin.com/in/sanskargoyal608/" target="_blank">
       <img class="linkedin-XAu" src="{% static './assets/linkedin-oyF.png'%}"/>
     </a>
     <a href="https://www.instagram.com/sanskargoyal608/" target="_blank">
    <img class="instagram-fH7" src="{% static './assets/instagram-7GR.png'%}"/>
     </a>
     <a href="sanskargoyal608@gmail.com/" target="_blank">
        <img class="email-NhK" src="{% static './assets/email-WFo.png'%}"/>
     </a>
     <a href="https://github.com/Sanskargoyal608/" target="_blank">
      <img class="instagram-fH7" src="{% static './assets/github.png'%}"/>
   </a>
    </div>
  </div>
</div>
</body>