{%load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Desktop - 1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass+Mono%3A700"/>
  <link rel="stylesheet" href="{% static './styles/desktop-1.css'%}"/>
</head>
<body>
<div class="desktop-1-Rc9">
  <div class="portfolio-header-Q5j">
    <div class="rectangle-1-Lk5"></div>
      <div class = "Header-Title-logo">  
        <img class="ellipse-6-tFo" src="{% static './assets/ReadyPlayerMe-Avatar (1).png'%}"/>
        <a class="linkdecoration" href="{% url 'dashboard' %}">
        <p class="sanskar-goyal-BeD">Sanskar Goyal</p>
      </a>
      </div>
    
    
    <div class="frame-2-5zV">
      <a class="linkdecoration" href="{% url 'skills' %}">
        <p class="skills-pah">Skills</p>
      </a>
      <a class="linkdecoration" href="{% url 'projects' %}">
        <p class="project-Z2V">Project</p>
      </a>
      <a class="linkdecoration" href="{% url 'certificate' %}">
        <p class="certificates-HjB">Certificates</p>
      </a>
      <a class="linkdecoration" href="{% url 'ContactUs' %}">
      <p class="contact-qEu">Contact</p>
      </a>
      <button class="group-1-1rD">  
        <a class="linkdecoration" href="https://calendly.com/gwholsat/sanskar">
        <p class="schedule-a-meeting-tf7">Schedule A Meeting</p>
      </a>
      </button>
    </div>
  </div>
  <div class="auto-group-xbpz-eE1">
    <div class="header-image-tXf">
      <div class="auto-group-helm-vz9">
        <div class="rectangle-2-4Kf">
        </div>
        <p class="transforming-visions-into-digital-success-with--9M7">
          <span class="transforming-visions-into-digital-success-with--9M7-sub-0">
          “ Transforming Visions into Digital
           Success with: 
        </p>
        <p class="sanskar-goyal-cXX">SANSKAR GOYAL</p>
        <div class="animatedtext-6xV">
          <div class="wordAnimation" id="wordAnimation">
            <div class="word" id="currentWord">Unity</div>
          </div>
        </div>
        <div class="screenshot-79-1-bAV"></div>
        <p class="im-qad">I’M</p>
        <div class="line-5-jg1">
        </div>
        <img class="ellipse-2-3Au" src="{% static './assets/ellipse-2.png'%}"/>
        <img class="ellipse-3-aAq" src="{% static './assets/ellipse-3.png'%}"/>
        <img class="ellipse-4-i29" src="{% static './assets/ellipse-4.png'%}"/>
      </div>
      <div class="auto-group-fqch-STw">
        <img class="ellipse-1-NsP" src="{% static './assets/ellipse-1.png'%}"/>
        <div class="e5a182e-5698-405d-a393-041c4551e56b-removebg-preview-1-ucR">
        </div>
        <img class="rectangle-20-Zgy" src="{% static './assets/rectangle-20.png'%}"/>
      </div>
    </div>
    
  </div>
  <div class="auto-group-f2rb-xny">
    <div class="auto-group-c9eu-gys">
        
          <div class="auto-group-xqdx-ubj">
            
            
              <div class="component-2-h1o">
                
               
                <div class="auto-group-xhed-YHK">
                  <img class="rectangle-5-Tv5" src="{% static './assets/rectangle-5-FQZ.png'%}"/>
                  <img class="rectangle-6-azh" src="{% static './assets/rectangle-6-5B3.png'%}"/>
                  <img class="rectangle-14-WdT" src="{% static './assets/rectangle-14-zqB.png'%}"/>
                  <img class="rectangle-8-dxy" src="{% static './assets/rectangle-8-nDj.png'%}"/>
                </div>
                <img class="ellipse-5-ZgH" src="{% static './assets/ellipse-5.png'%}"/>
              </div>
              <div class = "ExpertiseColumn">
                <p class="expertise-NvZ">Expertise</p>
                <p class="ExpertiseDis">Proficient in Android &amp; Unity development, implementing captivating user experiences, along with strategic digital marketing using Google Ads and data analysis through Google Analytics.</p>
              </div>
            </div>
          <div class="auto-group-6nnz-SLm">
            <div class = "LanguageColumn">
             <p class="languages-KL1">Languages</p>
             <p class="LanguageDis">Proficient in Kotlin, C++, JavaScript, and HTML, currently expanding expertise through learning C#.</p>
            </div>

             <div class="auto-group-6nnz-6jm">
              <div class="rectangle-16-et5"></div>
              <div class="frame-1-LF7">
          <div class="auto-group-u1im-4B7">
            <div class="auto-group-syyb-CHK">
              <img class="kotlin-removebg-preview-2-LeR" src="{% static './assets/kotlin-removebg-preview-2-Gvq.png'%}"/>
              <p class="kotlin-qr5">Kotlin</p>
            </div>
            <img class="png-transparent-c-logo-the-c-programming-language-computer-icons-computer-programming-source-code-programming-miscellaneous-template-blue-removebg-preview-2-jgZ" src="{% static './assets/png-transparent-c-logo-the-c-programming-language-computer-icons-computer-programming-source-code-programming-miscellaneous-template-blue-removebg-preview-2-7xh.png'%}"/>
          </div>
          <img class="js-javascript-round-logo-icon-png-11662226392lsrrajcm0y-removebg-preview-2-CKF" src="{% static './assets/js-javascript-round-logo-icon-png-11662226392lsrrajcm0y-removebg-preview-2-V4R.png'%}"/>
          <div class="auto-group-wu33-tSy">
            <img class="html5logoandwordmark-2-cNy" src="{% static './assets/html5logoandwordmark-2-Hgh.png'%}"/>
            <img class="c-sharp-c-logo-02f17714ba-seeklogo-2-Xkq" src="{% static './assets/c-sharp-c-logo-02f17714ba-seeklogo-2-i9b.png'%}"/>
          </div>
              </div>
             </div>

             
          </div>  
    </div>
    <div class="project-column-YJZ">
      <p class="my-working-experience-gvZ">My Working Experience </p>
      <div class="auto-group-8pxd-QLm">
        <div class="rectangle-11-x7P"></div>
        <div class="project-box-fnV">
          <img class="rectangle-12-QVB" src="{% static './assets/rectangle-12-aj7.png'%}"/>
          <img class="rectangle-13-Xph" src="{% static './assets/rectangle-13-kE9.png'%}"/>
        </div>
        <div class="project-box-UE9">
          <img class="rectangle-12-ziH" src="{% static './assets/rectangle-12-Nfw.png'%}"/>
          <img class="rectangle-13-YE1" src="{% static './assets/rectangle-13.png'%}"/>
        </div>
        <div class="project-box-g5K">
          <img class="rectangle-12-cUm" src="{% static './assets/rectangle-12-qDo.png'%}"/>
          <img class="rectangle-13-xYd" src="{% static './assets/rectangle-13-weu.png'%}"/>
          <div class="project-box-W4M">
            <img class="rectangle-12-F1w" src="{% static './assets/rectangle-12.png'%}"/>
            <img class="rectangle-13-b5o" src="{% static './assets/rectangle-13-KwK.png'%}"/>
          </div>
        </div>
        <a href="{% url 'uiux' %}">
        <button class="button-wQZ">More UI/UX</button>
        </a>
        <div class="button-pUM">
          <a href="{% url 'appWeb' %}">
          <button type="button" class="button-xaZ">More Android</button>
           </a>
           <a href="{% url 'unity' %}">
          <div class="auto-group-vzkd-eiH">AR/VR</div>
           </a>
        </div>
      </div>
    </div>
  
  <div class="auto-group-zeyb-5Yh">

    <div class="rectangle-31-YgV">
    </div>
    <p class="blogs-syf">Blogs</p>
    <div class="frame-4-BjT">
      <div class="project-box-uQZ">
        <img class="rectangle-12-TS5" src="{% static './assets/rectangle-12-1Wm.png'%}"/>
        <div class="button-oVw">More UI/UX</div>
      </div>
      
    </div>
  </div>

    <div class="certificate-badges-Qqs">
      <p class="certificates-badges-2cM">Certificates &amp; Badges</p>

      <div class="auto-group-z6ah-hKB">
        
        <div class="auto-group-2rn5-9ws">
          <div class="analyticscertificate-gS1">
            <img class="rectangle-8-p2R" src="{% static './assets/rectangle-8-9bB.png'%}"/>
          </div>
          <div class="analyticscertificate-gS1">
            <img class="rectangle-8-p2R" src="{% static './assets/rectangle-8-9bB.png'%}"/>
          </div>
          <div class="analyticscertificate-gS1">
            <img class="rectangle-8-p2R" src="{% static './assets/rectangle-8-9bB.png'%}"/>
          </div>
          <div class="analyticscertificate-gS1">
            <img class="rectangle-8-p2R" src="{% static './assets/rectangle-8-9bB.png'%}"/>
          </div>
          <div class="analyticscertificate-gS1">
            <img class="rectangle-8-p2R" src="{% static './assets/rectangle-8-9bB.png'%}"/>
          </div>
          <div class="analyticscertificate-gS1">
            <img class="rectangle-8-p2R" src="{% static './assets/rectangle-8-9bB.png'%}"/>
          </div>

          
        </div>
      </div>
      
    </div>
   
   
  </div>
  <div class="footer-uQR">
    <p class="connect-now-Qry">Connect Now</p>
    <div class = "socialIcons">
     <a href="https://www.linkedin.com/in/sanskargoyal608/" target="_blank">
       <img class="linkedin-XAu" src="{% static './assets/linkedin-oyF.png'%}"/>
     </a>
     <a href="https://www.instagram.com/sanskargoyal608/" target="_blank">
    <img class="instagram-fH7" src="{% static './assets/instagram-7GR.png'%}"/>
     </a>
     <a href="sanskargoyal608@gmail.com/" target="_blank">
        <img class="email-NhK" src="{% static './assets/email-WFo.png'%}"/>
     </a>
     <a href="https://github.com/Sanskargoyal608/" target="_blank">
      <img class="instagram-fH7" src="{% static './assets/github.png'%}"/>
   </a>
    </div>
  </div>
</div>
<script src="{% static './Scripts/TextAnimation.js' %}"></script>
</body>