{%load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Project Page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Angkor%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass+Mono%3A700"/>
  <link rel="stylesheet" href="{% static './styles/project-page.css'%}"/>
</head>
<body>
<div class="project-page-krh">
  <div class="portfolio-header-Q5j">
    <div class="rectangle-1-Lk5"></div>
      <div class = "Header-Title-logo">  
        <img class="ellipse-6-tFo" src="{% static './assets/ReadyPlayerMe-Avatar (1).png'%}"/>
        <a class="linkdecoration" href="{% url 'dashboard' %}">
        <p class="sanskar-goyal-BeD">Sanskar Goyal</p>
      </a>
      </div>
    
    
    <div class="frame-2-5zV">
      <a class="linkdecoration" href="{% url 'skills' %}">
        <p class="skills-pah">Skills</p>
      </a>
      <a class="linkdecoration" href="{% url 'projects' %}">
        <p class="project-Z2V">Project</p>
      </a>
      <a class="linkdecoration" href="{% url 'certificate' %}">
        <p class="certificates-HjB">Certificates</p>
      </a>
      <a class="linkdecoration" href="{% url 'ContactUs' %}">
      <p class="contact-qEu">Contact</p>
      </a>
      <button class="group-1-1rD">  
        <a class="linkdecoration" href="https://calendly.com/gwholsat/sanskar">
        <p class="schedule-a-meeting-tf7">Schedule A Meeting</p>
      </a>
      </button>
    </div>
  </div>
  <div class="auto-group-zaj1-fXj">


    <div class="skindustries-VWm">
      <div class="auto-group-rg1t-pow">
        <a class="rectangle-26-x9T" href="{{upload_data.image}}"  target="_blank">
          <img class="rectangle-26-x9T" src="{{ upload_data.image}}" alt="Image"/>
        </a>
        <div class = "projectHeader">
           <p class="business-card-o89">{{ upload_data.tittle }}</p>
           <p class="small-intro">{{ upload_data.intro }}</p>
        </div>
      </div>
      <div class="auto-group-ncvh-YtM">
        <p class="completeIntro">{{ upload_data.content}}</p>
      </div>
    </div>
    
  </div>
  <div class="footer-uQR">
    <p class="connect-now-Qry">Connect Now</p>
    <div class = "socialIcons">
     <a href="https://www.linkedin.com/in/sanskargoyal608/" target="_blank">
       <img class="linkedin-XAu" src="{% static './assets/linkedin-oyF.png'%}"/>
     </a>
     <a href="https://www.instagram.com/sanskargoyal608/" target="_blank">
    <img class="instagram-fH7" src="{% static './assets/instagram-7GR.png'%}"/>
     </a>
     <a href="sanskargoyal608@gmail.com/" target="_blank">
        <img class="email-NhK" src="{% static './assets/email-WFo.png'%}"/>
     </a>
     <a href="https://github.com/Sanskargoyal608/" target="_blank">
      <img class="instagram-fH7" src="{% static './assets/github.png'%}"/>
   </a>
    </div>
  </div>
</div>
</body>