{%load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Skills</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass+Mono%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Angkor%3A400"/>
  <link rel="stylesheet" href="{% static './styles/skills.css'%}"/>
</head>
<body>
<div class="skills-6Zj">
  <div class="portfolio-header-Q5j">
    <div class="rectangle-1-Lk5"></div>
      <div class = "Header-Title-logo">  
        <img class="ellipse-6-tFo" src="{% static './assets/ReadyPlayerMe-Avatar (1).png'%}"/>
        <a class="linkdecoration" href="{% url 'dashboard' %}">
        <p class="sanskar-goyal-BeD">Sanskar Goyal</p>
      </a>
      </div>
    
    
    <div class="frame-2-5zV">
      <a class="linkdecoration" href="{% url 'skills' %}">
        <p class="skills-pah">Skills</p>
      </a>
      <a class="linkdecoration" href="{% url 'projects' %}">
        <p class="project-Z2V">Project</p>
      </a>
      <a class="linkdecoration" href="{% url 'certificate' %}">
        <p class="certificates-HjB">Certificates</p>
      </a>
      <a class="linkdecoration" href="{% url 'ContactUs' %}">
      <p class="contact-qEu">Contact</p>
      </a>
      <button class="group-1-1rD">  
        <a class="linkdecoration" href="https://calendly.com/gwholsat/sanskar">
        <p class="schedule-a-meeting-tf7">Schedule A Meeting</p>
      </a>
      </button>
    </div>
  </div>
  <p class="skills-RA5">Skills</p>
  <div class="projectscroll-KmF">
    <div class="uiux-projectlist-eYd">
      <div class="skindustries-BYZ">
        <img class="rectangle-26-W53" src="{% static './assets/rectangle-26-bJM.png'%}"/>
        <div class="auto-group-nqdb-E13">
          <div class="auto-group-zyzh-Nsw">
            <p class="small-intro">Presenting my innovative AR/VR project crafted with Unity - the AR Business Card. When you scan the business card, a virtual world unfolds, showcasing intricate details and interactivity. Experience a cutting-edge fusion of technology and networking as you explore a dynamic digital representation of my identity. Contact me for a deeper dive into this immersive experience.</p>
            <p class="business-card-6Bf">Business Card</p>
          </div>
          <div class="auto-group-futm-PwT">
            <p class="skills-level-wi5">Skills level</p>
            <p class="expert-esP">Expert</p>
          </div>
        </div>
      </div>
    </div>
    <div class="uiux-projectlist-eYd">
      <div class="skindustries-BYZ">
        {% for item in upload_data %}
        <a class="rectangle-26-W53" href="{{item.image.url}}"  target="_blank">
        <img class="rectangle-26-W53" src="{{ item.image.url }}" alt="Image"/>
        </a>
        <div class="auto-group-nqdb-E13">
            <div class="auto-group-zyzh-Nsw">
                <a class="small-intro" href="{% url 'project' blog_id=item.id %}">
                <p class="small-intro">{{ item.intro }}</p>
                </a>
                <p class="business-card-6Bf">{{ item.tittle }}</p>
            </div>
            <div class="auto-group-futm-PwT">
                <p class="skills-level-wi5">Skills level</p>
                <p class="expert-esP">{{ item.skills }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    
  </div>
  <div class="footer-uQR">
    <p class="connect-now-Qry">Connect Now</p>
    <div class = "socialIcons">
     <a href="https://www.linkedin.com/in/sanskargoyal608/" target="_blank">
       <img class="linkedin-XAu" src="{% static './assets/linkedin-oyF.png'%}"/>
     </a>
     <a href="https://www.instagram.com/sanskargoyal608/" target="_blank">
    <img class="instagram-fH7" src="{% static './assets/instagram-7GR.png'%}"/>
     </a>
     <a href="sanskargoyal608@gmail.com/" target="_blank">
        <img class="email-NhK" src="{% static './assets/email-WFo.png'%}"/>
     </a>
     <a href="https://github.com/Sanskargoyal608/" target="_blank">
      <img class="instagram-fH7" src="{% static './assets/github.png'%}"/>
   </a>
    </div>
  </div>
</div>
</body>