
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.1rem;
}.animatedtext-Arh {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 2rem;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  padding: 2rem 3.6rem 20.6rem 2rem;
  display: flex;
  flex-direction: column;

  .property-1default-1cR {
    width: 2.5rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-9Tj {
      margin-right: 0.1352rem;
      width: 2.3648rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;

      .mask-group-Uku {
        width: 2.0192rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1default-CS1 {
    width: 4.9rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-kCd {
      margin-right: 0.313rem;
      width: 4.587rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;

      .mask-group-JE9 {
        width: 3.9577rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1default-pyB {
    width: 7.2rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-mNd {
      box-sizing: border-box;
      margin-right: 0.4833rem;
      width: 6.7167rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;

      .mask-group-7Bb {
        width: 5.8154rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1default-35F {
    cursor: pointer;
    flex-shrink: 0;
    width: 10.1rem;
    height: 4.2rem;

    .component-1-Bx9 {
      margin-right: 0.6981rem;
      width: 9.4019rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;

      .mask-group-wRX {
        width: 8.1577rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1default-fMX {
    cursor: pointer;
    flex-shrink: 0;
    width: 12.8rem;
    height: 4.2rem;

    .component-1-Qa1 {
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;
      margin-right: 0.8981rem;
      width: 11.9019rem;
      height: 100%;

      .mask-group-MVF {
        object-fit: contain;
        vertical-align: top;
        width: 10.3385rem;
        height: 4.2rem;
        position: relative;
      }
    }
  }
  .property-1default-gGd {
    width: 10.1rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-dSm {
      margin-right: 0.6981rem;
      width: 9.4019rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;

      .mask-group-aN1 {
        width: 8.1577rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1default-ufB {
    width: 7.2rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-f8Z {
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;
      margin-right: 0.4833rem;
      width: 6.7167rem;

      .mask-group-pGM {
        width: 5.8154rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1default-MGH {
    width: 4.7rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-u2u {
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;
      margin-right: 0.2981rem;
      width: 4.4019rem;
      height: 100%;

      .mask-group-Ybf {
        object-fit: contain;
        vertical-align: top;
        width: 3.7962rem;
        height: 4.2rem;
        position: relative;
      }
    }
  }
  .property-1default-gC5 {
    width: 2.5rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-Dho {
      margin-right: 0.1352rem;
      width: 2.3648rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;

      .mask-group-a2Z {
        width: 2.0192rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1default-VQR {
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;
    width: 2.5rem;

    .component-1-Cy3 {
      margin-right: 2.3574rem;
      width: 0.1426rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;

      .mask-group-8bo {
        width: 0.0808rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1android-ui-ux-fLq {
    width: 2.5rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-D7T {
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;
      margin-right: 0.1352rem;
      width: 2.3648rem;

      .mask-group-AYV {
        width: 2.0192rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1default-tjP {
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;
    width: 5.1rem;

    .component-1-quX {
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;
      margin-right: 0.3278rem;
      width: 4.7722rem;

      .mask-group-CVB {
        width: 4.1192rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1variant13-jED {
    width: 7.4rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-srD {
      box-sizing: border-box;
      margin-right: 0.4981rem;
      width: 6.9019rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;

      .mask-group-daV {
        vertical-align: top;
        width: 5.9769rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
      }
    }
  }
  .property-1variant14-mAu {
    width: 9.9rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-vJh {
      box-sizing: border-box;
      margin-right: 0.6833rem;
      width: 9.2167rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;

      .mask-group-5SV {
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        width: 7.9962rem;
      }
    }
  }
  .property-1variant15-cBX {
    flex-shrink: 0;
    width: 12.6rem;
    height: 4.2rem;
    cursor: pointer;

    .component-1-Meu {
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;
      margin-right: 0.8833rem;
      width: 11.7167rem;
      height: 100%;

      .mask-group-Ja9 {
        width: 10.1769rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1variant16-31w {
    width: 15.1rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-Btq {
      width: 14.0315rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;
      margin-right: 1.0685rem;

      .mask-group-YUV {
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        width: 12.1962rem;
      }
    }
  }
  .property-1variant17-smf {
    width: 17.6rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-cz9 {
      margin-right: 1.2537rem;
      width: 16.3463rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;

      .mask-group-yZo {
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        width: 14.2154rem;
      }
    }
  }
  .property-1variant18-HaV {
    width: 25.3rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-qM7 {
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;
      margin-right: 1.8241rem;
      width: 23.4759rem;

      .mask-group-APP {
        width: 20.4346rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1variant19-3i5 {
    width: 27.9rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-nff {
      box-sizing: border-box;
      margin-right: 2.0167rem;
      width: 25.8833rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;

      .mask-group-Y93 {
        width: 22.5346rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1variant20-Gqj {
    width: 100%;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-dgH {
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;
      margin-right: 2.4315rem;
      width: 31.0685rem;
      height: 100%;

      .mask-group-n3P {
        vertical-align: top;
        width: 27.0577rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
      }
    }
  }
  .property-1variant21-iBw {
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;
    width: 27.9rem;

    .component-1-f7B {
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;
      margin-right: 2.0167rem;
      width: 25.8833rem;

      .mask-group-1gq {
        width: 22.5346rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1variant22-Ygm {
    width: 19.1rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-Vru {
      margin-right: 1.3648rem;
      width: 17.7352rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;

      .mask-group-rBf {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        width: 15.4269rem;
        height: 4.2rem;
      }
    }
  }
  .property-1variant23-atM {
    width: 17.7rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-vxD {
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;
      margin-right: 1.2611rem;
      width: 16.4389rem;

      .mask-group-HXs {
        width: 14.2962rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1variant24-1yf {
    width: 14.9rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-ArZ {
      margin-right: 1.0537rem;
      width: 13.8463rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;

      .mask-group-XBK {
        vertical-align: top;
        width: 12.0346rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
      }
    }
  }
  .property-1variant25-rDb {
    width: 12.9rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-bws {
      margin-right: 0.9056rem;
      width: 11.9944rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;

      .mask-group-Mg9 {
        width: 10.4192rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1variant26-HZo {
    width: 9.8rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-e9T {
      margin-right: 0.6759rem;
      width: 9.1241rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;

      .mask-group-Bv5 {
        object-fit: contain;
        vertical-align: top;
        width: 7.9154rem;
        height: 4.2rem;
        position: relative;
      }
    }
  }
  .property-1variant27-84d {
    cursor: pointer;
    flex-shrink: 0;
    width: 7.3rem;
    height: 4.2rem;

    .component-1-fqF {
      width: 6.8093rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;
      margin-right: 0.4907rem;

      .mask-group-dGH {
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        width: 5.8962rem;
      }
    }
  }
  .property-1variant28-mNV {
    width: 5.3rem;
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;

    .component-1-Way {
      margin-right: 0.3426rem;
      width: 4.9574rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;

      .mask-group-sAd {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        width: 4.2808rem;
        height: 4.2rem;
      }
    }
  }
  .property-1variant29-QAZ {
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;
    width: 2.6rem;

    .component-1-9tq {
      width: 2.4574rem;
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;
      margin-right: 0.1426rem;

      .mask-group-JWq {
        width: 2.1rem;
        height: 4.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1variant30-qWm {
    height: 4.2rem;
    cursor: pointer;
    flex-shrink: 0;
    width: 0.1rem;

    .component-1-az9 {
      height: 100%;
      border-right: solid 0.05rem #97a1f7;
      box-sizing: border-box;
      padding-top: 0rem;
      width: 100%;

      .mask-group-k7w {
        object-fit: contain;
        vertical-align: top;
        width: 0.0808rem;
        height: 4.2rem;
        position: relative;
      }
    }
  }
}
