
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.unityprojects-KoB {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #000000 3.65%, #004674 44.79%, #5c0060 93.17%);

  .portfolio-header-rYD {
    width: 144.3rem;
    height: 3.9rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-oCZ {
      width: 144.3rem;
      height: 3.6rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #a296ba;
    }
    .ellipse-6-LCV {
      width: 2.9rem;
      height: 2.7rem;
      position: absolute;
      left: 1.7rem;
      top: 0.4rem;
      object-fit: contain;
      vertical-align: top;
    }
    .group-1-4uB {
      width: 24.9264rem;
      height: 2.95rem;
      position: absolute;
      left: 118.0826rem;
      top: 0.45rem;

      .rectangle-21-QTF {
        top: 0;
        background-color: #8df94c;
        width: 24.9264rem;
        height: 2.7rem;
        position: absolute;
        left: 0;
      }
      .schedule-a-meeting-wi5 {
        white-space: nowrap;
        width: 21.1rem;
        height: 2.5rem;
        position: absolute;
        top: 0.45rem;
        font-size: 1.9rem;
        font-weight: 700;
        font-family: Overpass Mono, 'Source Sans Pro';
        left: 0.5982rem;
        line-height: 1.265;
        color: #000000;
      }
    }
    .sanskar-goyal-Seq {
      white-space: nowrap;
      left: 8.1rem;
      top: 0.6rem;
      line-height: 1.265;
      color: #ffffff;
      font-weight: 700;
      font-family: Overpass Mono, 'Source Sans Pro';
      width: 20.9rem;
      height: 3.3rem;
      position: absolute;
      font-size: 2.6rem;
    }
    .frame-2-KTj {
      top: 0.5rem;
      display: flex;
      column-gap: 3.4rem;
      align-items: center;
      width: 52.4rem;
      height: 3.1rem;
      position: absolute;
      left: 63.2rem;

      .skills-RWm {
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.2rem;
      }
      .project-Z7B {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
      }
      .certificates-tQM {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
      }
      .contact-DhX {
        line-height: 1.3849052494;
        color: #ffffff;
        font-family: Overpass Mono, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.2rem;
        font-weight: 700;
      }
    }
  }
  .auto-group-bd7k-khT {
    height: 107.8rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.7rem 0rem 2rem 0rem;
    width: 100%;

    .auto-group-hpty-Tbs {
      margin: 0rem 10.6rem 5.994rem 0rem;
      width: calc(100% - 10.6rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-2wqh-PVX {
        margin-top: 2.2rem;
        width: 68.4rem;
        height: 37.6059rem;
        position: relative;
        flex-shrink: 0;

        .ellipse-1-Xbj {
          object-fit: contain;
          vertical-align: top;
          width: 36.2rem;
          height: 8.1059rem;
          position: absolute;
          left: 5.7rem;
          top: 29.5rem;
        }
        .e22b9f7-f886-424c-a02a-ead74650774b-1-GJR {
          width: 68.4rem;
          height: 33.9rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-pwcu-nXf {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .ar-vr-projects-YWq {
          flex-shrink: 0;
          margin-bottom: 1.7rem;
          font-size: 7.7rem;
          letter-spacing: 0.0385rem;
          font-family: Angkor, 'Source Sans Pro';
          font-weight: 400;
          line-height: 1.7850181961;
          color: #6884e9;
          white-space: nowrap;
        }
        .crafting-immersive-ar-vr-experiences-and-conceptualizing-virtual-realms-is-my-true-passion-an-endeavor-i-can-delve-into-for-hours-on-end-currently-im-engrossed-in-mastering-unity-to-bring-ar-creations-to-life-and-my-journey-continues-as-i-set-my-sights-on-delving-into-the-realm-of-vr-experiences-the-boundless-potential-of-merging-technology-and-creativity-ignites-my-drive-propelling-me-forward-to-push-the-boundaries-of-whats-possible-in-the-world-of-augmented-and-virtual-reality-Tdo {
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 81.9rem;
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.786640616;
          letter-spacing: 0.0085rem;
          color: #ffffff;
        }
      }
    }
    .uiux-projectstools-z1T {
      flex-direction: column;
      flex-shrink: 0;
      width: 144.3rem;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;

      .toolsplatformlist-XGH {
        margin-bottom: 3.3rem;
        width: 100%;
        height: 29.2rem;
        position: relative;
        flex-shrink: 0;

        .tools-platform-zvZ {
          top: 0;
          font-size: 4.7rem;
          letter-spacing: 0.517rem;
          text-decoration-line: underline;
          color: #6884e9;
          font-family: Angkor, 'Source Sans Pro';
          white-space: nowrap;
          width: 54.1rem;
          height: 8.5rem;
          position: absolute;
          left: 0;
          font-weight: 400;
          line-height: 1.805;
        }
        .ellipse-9-6ih {
          width: 16rem;
          height: 16rem;
          position: absolute;
          left: 4.8rem;
          top: 11.2rem;
          box-shadow: 0 5rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #fffdfd;
          border-radius: 8rem;
        }
        .ellipse-12-Pxh {
          vertical-align: top;
          width: 14.9rem;
          height: 12.1316rem;
          position: absolute;
          left: 5.3rem;
          top: 12.8453rem;
          object-fit: contain;
        }
      }
      .uiux-projectlist-JZs {
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        margin: 0 2.35rem;
        width: calc(100% - 4.7rem);
        height: 25.8rem;

        .skindustries-ETX {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: flex-start;
          box-shadow: 0 2rem 0.4rem rgba(0, 0, 0, 0.3700000048);
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 0rem 2.5rem 0rem 2.15rem;

          .rectangle-26-mCZ {
            margin: 1.7rem 5.15rem 0rem 0rem;
            width: 34.7rem;
            height: 22.3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-bobk-gKX {
            width: 95.1rem;
            height: 22rem;
            position: relative;
            flex-shrink: 0;

            .presenting-my-innovative-ar-vr-project-crafted-with-unity-the-ar-business-card-when-you-scan-the-business-card-a-virtual-world-unfolds-showcasing-intricate-details-and-interactivity-experience-a-cutting-edge-fusion-of-technology-and-networking-as-you-explore-a-dynamic-digital-representation-of-my-identity-contact-me-for-a-deeper-dive-into-this-immersive-experience-dEm {
              left: 0;
              font-weight: 400;
              letter-spacing: 0.01rem;
              font-family: Open Sans, 'Source Sans Pro';
              line-height: 1.7866405487;
              color: #181717;
              width: 95.1rem;
              height: 14.3rem;
              position: absolute;
              top: 7.7rem;
              font-size: 2rem;
            }
            .business-card-yC9 {
              letter-spacing: 0.517rem;
              color: #6884e9;
              white-space: nowrap;
              height: 8.5rem;
              font-size: 4.7rem;
              line-height: 1.805;
              top: 0;
              font-weight: 400;
              text-decoration-line: underline;
              font-family: Angkor, 'Source Sans Pro';
              width: 44.8rem;
              position: absolute;
              left: 0;
            }
          }
        }
      }
    }
  }
  .footer-dXb {
    height: 11.267rem;
    display: flex;
    align-items: center;
    background-color: #010406;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.023rem 54.323rem 3.435rem 3.816rem;
    width: 145.9rem;

    .connect-now-9F3 {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.54rem 39.843rem 0rem 0rem;
      font-size: 3rem;
      font-weight: 400;
    }
    .linkedin-TmX {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 3.0124rem;
      width: 7.8322rem;
      height: 4.8091rem;
    }
    .instagram-QAy {
      margin: 0.206rem 4.117rem 0rem 0rem;
      width: 6.6273rem;
      height: 4.603rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .email-jU9 {
      width: 7.0289rem;
      height: 4.603rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.2061rem;
    }
  }
}
